section.section1.page-sec(style="background-image:url('./static/img/general/bg.jpg')")
    .container
        .main-block--wrap.mb-0.pb-60
            .main-block--left
                h1.main-tittle Оформить гражданство РФ
                p.main-desc Arcu at in blandit arcu viverra mattis sit neque ut.
                .main-button-price
                    a.main-button-transparent.mw-200(data-toggle="modal" data-target="#popup-exam-reg") Оставить заявку
                        +arrow('arrow-button')
                    .main-price ~ от 30 000 ₽
            .main-block--right
                .main-block--social
                    a(href="/")
                        +icon('facebook')
                    a(href="/")
                        +icon('twitter')
                    a(href="/")
                        +icon('whatsapp')