section.breadcrumbs-wrap
    .container
        ur.breadcrumb-list
            a.breadcrumb-item(href="/") Главная
            a.breadcrumb-item(href="/") Гражданство РФ
            a.breadcrumb-item(href="/") Оформить гражданство РФ
