footer
	.container
		.footer-top
			.footer-top-logo
				+icon('logo')
			ul.footer-top-menu
				a.footer-top-menu--item(href="/") Главная
				a.footer-top-menu--item(href="/") О компании
				a.footer-top-menu--item(href="/") Прайс-лист
				a.footer-top-menu--item(href="/") Контакты
			.footer-top-attr
				a.footer-top-phone(href="89991234567")
					+icon('phone')
					span 8 (999) 123 45 67
				a.footer-top-phone(href="mailto:info@name.com")
					+icon('email')
					span info@name.com
		.footer-middle
			.footer-middle--list.row
				.col-xl-3.col-lg-3.col-md-6.col-sm-6.footer-middle--list__wrap
					.footer-middle--list__item
						span Получение ВНЖ
						.footer-middle--list__item-list2
							a.footer-middle--list__item-list2--item(href="/") Оформить ВНЖ
							a.footer-middle--list__item-list2--item(href="/") ВНЖ для ВКС
							a.footer-middle--list__item-list2--item(href="/") ВНЖ детям
							a.footer-middle--list__item-list2--item(href="/") Замена ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Временная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Постоянная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Оформить пенсию по ВНЖ
						.footer-middle--list__item-show-ul Подробнее
				.col-xl-3.col-lg-3.col-md-6.col-sm-6.footer-middle--list__wrap
					.footer-middle--list__item
						span Получение ВНЖ
						.footer-middle--list__item-list2
							a.footer-middle--list__item-list2--item(href="/") Оформить ВНЖ
							a.footer-middle--list__item-list2--item(href="/") ВНЖ для ВКС
							a.footer-middle--list__item-list2--item(href="/") ВНЖ детям
							a.footer-middle--list__item-list2--item(href="/") Замена ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Временная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Постоянная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Оформить пенсию по ВНЖ
						.footer-middle--list__item-show-ul Подробнее
				.col-xl-3.col-lg-3.col-md-6.col-sm-6.footer-middle--list__wrap
					.footer-middle--list__item
						span Получение ВНЖ
						.footer-middle--list__item-list2
							a.footer-middle--list__item-list2--item(href="/") Оформить ВНЖ
							a.footer-middle--list__item-list2--item(href="/") ВНЖ для ВКС
							a.footer-middle--list__item-list2--item(href="/") ВНЖ детям
							a.footer-middle--list__item-list2--item(href="/") Замена ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Временная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Постоянная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Оформить пенсию по ВНЖ
						.footer-middle--list__item-show-ul Подробнее
				.col-xl-3.col-lg-3.col-md-6.col-sm-6.footer-middle--list__wrap
					.footer-middle--list__item
						span Получение ВНЖ
						.footer-middle--list__item-list2
							a.footer-middle--list__item-list2--item(href="/") Оформить ВНЖ
							a.footer-middle--list__item-list2--item(href="/") ВНЖ для ВКС
							a.footer-middle--list__item-list2--item(href="/") ВНЖ детям
							a.footer-middle--list__item-list2--item(href="/") Замена ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Временная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Постоянная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Оформить пенсию по ВНЖ
						.footer-middle--list__item-show-ul Подробнее
				.col-xl-3.col-lg-3.col-md-6.col-sm-6.footer-middle--list__wrap
					.footer-middle--list__item
						span Получение ВНЖ
						.footer-middle--list__item-list2
							a.footer-middle--list__item-list2--item(href="/") Оформить ВНЖ
							a.footer-middle--list__item-list2--item(href="/") ВНЖ для ВКС
							a.footer-middle--list__item-list2--item(href="/") ВНЖ детям
							a.footer-middle--list__item-list2--item(href="/") Замена ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Временная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Постоянная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Оформить пенсию по ВНЖ
						.footer-middle--list__item-show-ul Подробнее
				.col-xl-3.col-lg-3.col-md-6.col-sm-6.footer-middle--list__wrap
					.footer-middle--list__item
						span Получение ВНЖ
						.footer-middle--list__item-list2
							a.footer-middle--list__item-list2--item(href="/") Оформить ВНЖ
							a.footer-middle--list__item-list2--item(href="/") ВНЖ для ВКС
							a.footer-middle--list__item-list2--item(href="/") ВНЖ детям
							a.footer-middle--list__item-list2--item(href="/") Замена ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Временная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Постоянная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Оформить пенсию по ВНЖ
						.footer-middle--list__item-show-ul Подробнее
				.col-xl-3.col-lg-3.col-md-6.col-sm-6.footer-middle--list__wrap
					.footer-middle--list__item
						span Получение ВНЖ
						.footer-middle--list__item-list2
							a.footer-middle--list__item-list2--item(href="/") Оформить ВНЖ
							a.footer-middle--list__item-list2--item(href="/") ВНЖ для ВКС
							a.footer-middle--list__item-list2--item(href="/") ВНЖ детям
							a.footer-middle--list__item-list2--item(href="/") Замена ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Временная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Постоянная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Оформить пенсию по ВНЖ
						.footer-middle--list__item-show-ul Подробнее
				.col-xl-3.col-lg-3.col-md-6.col-sm-6.footer-middle--list__wrap
					.footer-middle--list__item
						span Получение ВНЖ
						.footer-middle--list__item-list2
							a.footer-middle--list__item-list2--item(href="/") Оформить ВНЖ
							a.footer-middle--list__item-list2--item(href="/") ВНЖ для ВКС
							a.footer-middle--list__item-list2--item(href="/") ВНЖ детям
							a.footer-middle--list__item-list2--item(href="/") Замена ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Временная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Постоянная регистрация по ВНЖ
							a.footer-middle--list__item-list2--item(href="/") Оформить пенсию по ВНЖ
						.footer-middle--list__item-show-ul Подробнее
			.footer-middle--list--category
				span Категории
				+icon('arrow-down')
				ul.footer-middle--list--category__list
					li.footer-middle--list--category__item Категории
					li.footer-middle--list--category__item Категории2
					li.footer-middle--list--category__item Категории3
					li.footer-middle--list--category__item Категории4
			.footer-subscribe
				.footer-subscribe--title.section-title Подпишитесь на наши обновления
				form.footer-subscribe-input__wrap
					input.footer-subscribe-input(type="email" placeholder="Укажите email...")
					button.footer-submit--sub(type="submit")
						+icon('send')
			.footer-social--list.footer-social--list--mobile
				a.footer-social--item(href="/")
					+icon('facebook')
				a.footer-social--item(href="/")
					+icon('twitter')
				a.footer-social--item(href="/")
					+icon('whatsapp')
	.footer-bottom
		.container
			.footer-bottom-left
				span LawCompany.com | Все права защищены.
			.footer-bottom-right
				.footer-bottom-lang-list
					.footer-bottom-lang--wrap
						.footer-bottom-lang__img(style="background-image:url('./static/img/content/ru.jpg')")
						.footer-bottom-lang__text Русский
					.footer-bottom-lang-arrow
						+icon('arrow-down')
					.footer-bottom-lang-choise
						.footer-bottom-choise__item(data-lang="lang-ru" data-lang-code="RU") Русский
						.footer-bottom-choise__item(data-lang="lang-us" data-lang-code="US") Английский
				.footer-social--list
					a.footer-social--item(href="/")
						+icon('facebook')
					a.footer-social--item(href="/")
						+icon('twitter')
					a.footer-social--item(href="/")
						+icon('whatsapp')

