section.section-exam-main
    .container
        .section-exam-main-wrap
            .col-xl-3.col-lg-3.col-md-6.col-sm-6.section-sidebar
                .side-toggle-exam--list--wrapper
                    .side-toggle-exam--list
                        .side-toggle-exam--wrap
                            .side-toggle-exam--title Гражданство РФ
                            .side-toggle-exam--arrow
                                +icon('arrow-down')
                        .side-toggle-list--attr
                            a.side-toggle-item--attr(href="/") Оформить гражданство РФ
                            a.side-toggle-item--attr(href="/") Гражданство РФ по новым правилам
                            a.side-toggle-item--attr(href="/") Оформление гражданства РФ в упрощенном формате
                    .side-toggle-exam--list
                        .side-toggle-exam--wrap
                            .side-toggle-exam--title Оформление РВП
                            .side-toggle-exam--arrow
                                +icon('arrow-down')
                        .side-toggle-list--attr
                            a.side-toggle-item--attr(href="/") Оформить гражданство РФ
                            a.side-toggle-item--attr(href="/") Гражданство РФ по новым правилам
                            a.side-toggle-item--attr(href="/") Оформление гражданства РФ в упрощенном формате
                    .side-toggle-exam--list
                        .side-toggle-exam--wrap
                            .side-toggle-exam--title Оформление ВНЖ
                            .side-toggle-exam--arrow
                                +icon('arrow-down')
                        .side-toggle-list--attr
                            a.side-toggle-item--attr(href="/") Оформить гражданство РФ
                            a.side-toggle-item--attr(href="/") Гражданство РФ по новым правилам
                            a.side-toggle-item--attr(href="/") Оформление гражданства РФ в упрощенном формате
                    .side-toggle-exam--list
                        .side-toggle-exam--wrap
                            .side-toggle-exam--title Статус НРЯ
                            .side-toggle-exam--arrow
                                +icon('arrow-down')
                        .side-toggle-list--attr
                            a.side-toggle-item--attr(href="/") Оформить гражданство РФ
                            a.side-toggle-item--attr(href="/") Гражданство РФ по новым правилам
                            a.side-toggle-item--attr(href="/") Оформление гражданства РФ в упрощенном формате
                    .side-toggle-exam--list
                        .side-toggle-exam--wrap
                            .side-toggle-exam--title Сопутствующие услуги
                            .side-toggle-exam--arrow
                                +icon('arrow-down')
                        .side-toggle-list--attr
                            a.side-toggle-item--attr(href="/") Оформить гражданство РФ
                            a.side-toggle-item--attr(href="/") Гражданство РФ по новым правилам
                            a.side-toggle-item--attr(href="/") Оформление гражданства РФ в упрощенном формате 
                    .side-toggle-exam--list
                        .side-toggle-exam--wrap
                            .side-toggle-exam--title Консультация юриста
                            .side-toggle-exam--arrow
                                +icon('arrow-down')
                        .side-toggle-list--attr
                            a.side-toggle-item--attr(href="/") Оформить гражданство РФ
                            a.side-toggle-item--attr(href="/") Гражданство РФ по новым правилам
                            a.side-toggle-item--attr(href="/") Оформление гражданства РФ в упрощенном формате
                    .side-toggle-exam--list
                        .side-toggle-exam--wrap
                            .side-toggle-exam--title Документы
                            .side-toggle-exam--arrow
                                +icon('arrow-down')
                        .side-toggle-list--attr
                            a.side-toggle-item--attr(href="/") Оформить гражданство РФ
                            a.side-toggle-item--attr(href="/") Гражданство РФ по новым правилам
                            a.side-toggle-item--attr(href="/") Оформление гражданства РФ в упрощенном формате                                               
                    .side-button-exam.mb-20 Оставить заявку
                    .side-button-exam.mb-20(data-toggle="modal" data-target="#popup-chat-login")
                        +icon('help')
                        span Онлайн чат
                        .button-attention 1

            .col-xl-9.col-lg-9.col-md-6.col-sm-6.section-content
                .section-title.fs-30.mb-45 Прайс-лист Гражданство РФ
                .section-price-list.mb-40
                    .price-list-header
                        .price-list--item.w_45 Название услуг
                        .price-list--item.w_40 Примечание
                        .price-list--item.w_20 Цена
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Помощь в получении гражданства РФ (под ключ)
                            .price-list-body--item.w_40 Сроки и условия работы согласуются индивидуально
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top от 30 000 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Комплексная подготовка документов для приобретения гражданства РФ
                            .price-list-body--item.w_40 7-10 рабочих дней
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top 21 000 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Заполнение заявления на гражданство РФ
                            .price-list-body--item.w_40 по предварительной записи. От 1 часа
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top 3 500 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                .section-title.fs-30.mb-45 Прайс-лист Гражданство РФ
                .section-price-list.mb-40
                    .price-list-header
                        .price-list--item.w_45 Название услуг
                        .price-list--item.w_40 Примечание
                        .price-list--item.w_20 Цена
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Помощь в получении гражданства РФ (под ключ)
                            .price-list-body--item.w_40 Сроки и условия работы согласуются индивидуально
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top от 30 000 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Комплексная подготовка документов для приобретения гражданства РФ
                            .price-list-body--item.w_40 7-10 рабочих дней
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top 21 000 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Заполнение заявления на гражданство РФ
                            .price-list-body--item.w_40 по предварительной записи. От 1 часа
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top 3 500 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                .section-title.fs-30.mb-45 Прайс-лист Гражданство РФ
                .section-price-list.mb-40
                    .price-list-header
                        .price-list--item.w_45 Название услуг
                        .price-list--item.w_40 Примечание
                        .price-list--item.w_20 Цена
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Помощь в получении гражданства РФ (под ключ)
                            .price-list-body--item.w_40 Сроки и условия работы согласуются индивидуально
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top от 30 000 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Комплексная подготовка документов для приобретения гражданства РФ
                            .price-list-body--item.w_40 7-10 рабочих дней
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top 21 000 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Заполнение заявления на гражданство РФ
                            .price-list-body--item.w_40 по предварительной записи. От 1 часа
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top 3 500 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                .section-title.fs-30.mb-45 Прайс-лист Гражданство РФ
                .section-price-list.mb-40
                    .price-list-header
                        .price-list--item.w_45 Название услуг
                        .price-list--item.w_40 Примечание
                        .price-list--item.w_20 Цена
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Помощь в получении гражданства РФ (под ключ)
                            .price-list-body--item.w_40 Сроки и условия работы согласуются индивидуально
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top от 30 000 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Комплексная подготовка документов для приобретения гражданства РФ
                            .price-list-body--item.w_40 7-10 рабочих дней
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top 21 000 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование
                    .price-list-body
                        .price-list-body__top
                            .price-list-body--item.w_45 Заполнение заявления на гражданство РФ
                            .price-list-body--item.w_40 по предварительной записи. От 1 часа
                            .price-list-body--item.price-body-top-d-flex.w_20
                                .price-body-top 3 500 ₽
                                .price-body-top__arrow
                                    +icon('arrow-down')
                        .price-list-body__toggle
                            ul
                                li Комплексный экзамен по русскому языку на Гражданство
                                li Перевод и нотариальное удостоверение документов
                                li Заполнение необходимых документов
                                li Правовой анализ ситуации и документов
                                li Фотографирование    
                .section-have-question--wrap.mb-68
                    .section-have-question__left(style="background-image:url('./static/img/general/bg3.jpg')")
                        .section-title.section-title--white Остались вопросы?
                        .section-have-question--text Приходите к нам в офис на консультацию:
                        .section-have-question--address г. Москва, ул. Новослободская, дом 26, строение 1, 5 этаж, офис 559.4
                        .section-have-question--text Записаться на консультацию можно:
                        .section-have-question--contacts.mb-15
                            +icon('phone')
                            a(href="tel:89991234567") 8 (999) 123 45 67
                        .section-have-question--contacts
                            +icon('email')
                            a(href="mailto:info@name.com") info@name.com
                    form.section-have-question__right
                        .form-title Свяжитесь с нами
                            span
                        input.input-ur-forms.w-100.mb-30(type="text" placeholder="Имя")
                        input.input-ur-forms.mask-phone.w-100.mb-40(type="text" placeholder="Телефон")
                        button.main-button-color.mw-200.m-0-auto(type="submit") Отправить
                            +arrow('arrow-button')                                                            