extends ../layout/main

block variables
    - var title = 'О компании'
    - var pageClass = 'index-page'

block content
    include about/section1
    include ../modules/breadcrumbs
    include about/section2
    