extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include index/section1
	include index/section2
	include index/section3
	include index/section4
	include index/section5
	include index/section6
	include index/section7