extends ../layout/main

block variables
    - var title = 'Инфо услуги (КАК ОФОРМИТЬ ГРАЖДАНСТВО РФ В МОСКВЕ)'
    - var pageClass = 'index-page'

block content
    include info1/section1
    include ../modules/breadcrumbs
    include info1/section2

