extends ../layout/main

block variables
    - var title = 'Комплексное тестирование для РВП'
    - var pageClass = 'index-page'

block content
    include info5/section1
    include ../modules/breadcrumbs
    include info5/section2