extends ../layout/main

block variables
    - var title = 'Инфо услуги (Перевод и легализация документов)'
    - var pageClass = 'index-page'

block content
    include info2/section1
    include ../modules/breadcrumbs
    include info2/section2