extends ../layout/main

block variables
    - var title = 'Перевод документов'
    - var pageClass = 'index-page'

block content
    include info6/section1
    include ../modules/breadcrumbs
    include info6/section2