extends ../layout/main

block variables
    - var title = 'Добровольное медицинское страхование'
    - var pageClass = 'index-page'

block content
    include info7/section1
    include ../modules/breadcrumbs
    include info7/section2