extends ../layout/main

block variables
    - var title = 'Сертификат о знании русского языка'
    - var pageClass = 'index-page'

block content
    include info4/section1
    include ../modules/breadcrumbs
    include info4/section2