extends ../layout/main

block variables
    - var title = 'Новость открытая'
    - var pageClass = 'index-page news-page'

block content
    include news/section1
    include ../modules/breadcrumbs
    include news/section2