extends ../layout/main

block variables
    - var title = 'Спецпредложения'
    - var pageClass = 'index-page special-page'

block content
    include special/section1
    include ../modules/breadcrumbs
    include special/section2