extends ../layout/main2

block variables
    - var title = 'Тест'
    - var pageClass = 'index-page'

block content
    include test-page/section1
    include ../modules/breadcrumbs
    include test-page/section2