@media screen and (max-width 1440px)
    .special-left--block__title
        font-size 21px
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        word-wrap: break-word;
        -o-text-overflow: ellipsis;
        -ms-line-clamp: 1;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        max-width 120px
@media screen and (max-width 1366px)
    .services-main--block
        margin: 0 0
        margin-bottom: 80px
    .index-video-slider--prev
        margin-left: 20px
    .index-video-slider--next
        margin-right: 20px

@media screen and (max-width 1280px)
    .js-index-slider--prev
        margin-left: 0
    .js-index-slider--next
        margin-right: 0

@media screen and (max-width 1199px)


    .main-section
        background-size: cover
    .services-main--list
        margin: 0 -50px
    .services-main--block
        margin-bottom: 30px
    .special-left--block__wrap:nth-child(n+2)
        margin-bottom: 30px
    .have-question--wrap
        flex-direction: column
    .have-question--left,.have-question--right
        width 100%
    .have-question--left
        margin-bottom: 30px
    .blog-article-title
        font-size: 20px
@media screen and (max-width 991px)
    .section-page-reviews--wrap .reveiw-tab-text--item
        margin-bottom: 40px
        &:nth-last-child(-n+2)
            margin-bottom: 40px
        &:last-child
            margin-bottom: 0
    .reveiw-tab-text--wrap
        flex-direction: column
    .reveiw-tab-text--item
        width 100%
        margin-bottom: 40px
    .review-tab-text__img
        display none
    .header-bottom
        display none
    .header-top--menu
        display none
    .main-block--wrap
        padding-top: 135px
    .main-tittle
        font-size: 40px
    .main-desc
        font-size: 13px
    .mobile-sandwich-menu
        display block
    .section-title
        font-size: 28px
    .blog-button-item
        width 130px
    .faq-question-title
        font-size: 17px
    .faq-left svg
        size(325px)
    .faq-question-show
        min-width 41px
    .footer-top-menu
        display none
    .footer-subscribe-input
        width 380px
    .section-sidebar
        display none
    .section-content
        padding-left: 0
    .section-reviews-content .reveiw-tab-text--item
        border-left: 1px solid rgba(39,39,39,0.1);
    .main-block--social--mobile
        position: absolute;
        bottom: 20px;
        left: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        a
            margin-bottom: 0;
            margin-right: 30px;
    ::-webkit-scrollbar
        width: 0
    .mobile-sandwich-menu--button-t
	    display flex




@media screen and (max-width 767px)
    .mobile-sandwich-menu--button-m
        display flex
    .header-mobile-sandwich-menu
        width 100%
        display flex
        justify-content: space-between
        align-items: center
        margin-right: 0
    .review-tab-video-reviews__col
        width 100%
    .index-video-slider--wrapper
        display none
    .index-video-slider--wrapper--mobile
        display block
    .header-top--contact
        display none
    .main-block--right
        display none
    .special-block--wrap
        flex-direction: column
    .footer-subscribe
        flex-direction: column
        margin-bottom: 35px
    .footer-subscribe-input__wrap,.footer-subscribe-input
        width 100%
    .footer-subscribe--title
        width 100%
        margin-bottom: 50px !important
    .footer-top
        flex-direction: column
    .footer-top-menu
        display flex
        flex-direction: column
        margin-bottom: 25px
    .footer-top-menu--item
        margin-right: 0
        margin-bottom: 25px
    .footer-social--list
        display: none
    .footer-social--list--mobile
        display flex
        justify-content: center
    .footer-bottom-right
        display none
    .footer-bottom-left
        width 100%
        text-align: center
    .main-block--social--mobile
        position: absolute
        bottom: 20px
        left 15px
        display flex
        flex-direction: row
        a
            margin-bottom: 0
            margin-right: 30px
    // .main-section
    //     height calc(100vh - 104px)
    //     margin-bottom: 110px
    .main-block--wrap
        padding-top: 100px
        margin-bottom: 0
    .main-tittle
        font-size: 32px
    .services-people-choise--item
        flex-direction: column
    .services-people--left
        margin-right: 0
        margin-bottom: 20px
    .services-people--title
        text-align: center
    .services-people--desc
        text-align: center
    .special-left--block__item
        flex-direction: column
    .special-left--img
        max-width 100%
        height 220px
    .special-right--block
        flex-direction: row
        margin-left: 0
        justify-content: space-around
    .special-right--text
        margin-bottom: 0
    .special-right--text .special-right--text__item:nth-child(2)
        margin-bottom: 0
        font-size: 45px
    .special-left--block
        margin-left: 0
        padding: 0
    .special-left--block__wrap
        padding: 0
    .special-left--block__content
        padding: 20px
    .services-main--block
        padding: 25px
    .section-title--wrap
        flex-direction: column
    .section-title
        width 100%
    .section-title--wrap .section-title
        margin-bottom: 45px !important
    .blog-articles-wrap
        flex-direction: column
    .faq-main-block
        flex-direction: column
    .faq-right,.faq-left
        width 100%
    .faq-left
        margin-bottom: 30px
    .section-read-article--wrap
        flex-direction: column
        align-items: flex-start

    .section-read-article--wrap
        position: relative
    .section-read-article--left__icon
        position: absolute
        top: 6px
        bottom: 6px
        left: 6px
    .section-read-article--left span,.section-read-article--right
        margin-left: 55px
    .section-content-block--item__right
        display none
    .section-content-block--item__left
        width 100%
    .price-list-body--item:last-child
        flex-direction: column
        align-items: flex-end
    .section-have-question--wrap
        flex-direction: column
    .section-have-question__left
        width 100%
        border-radius: 0
    .section-have-question__right
        width 100%
        border-radius: 0
    .scbi-2 .section-content-block--item__left
        width 100%
    .section-block-attention-border--wrap
        flex-direction: column
    .section-romb--wrap,.section-sert-wrap
        flex-direction: column
    .section-romb-list.w-50
        width 100% !important
    .section-sert-wrap--left
        width 100%
        margin-bottom: 20px
    .section-sert-wrap--right
        width 100%
    .section-romb-img
        width 100%
    .section-info-blocks-wrap
        flex-direction: column
    .section-info-block--left
        width 100%
        .section-romb--wrap
            align-items: flex-start
    .section-info-block--left.w-50
        width 100% !important
    .about-company-name
        flex-direction: column
    .about-company-name__left
        width 100%
    .img-style
        width 100%
    .about-company-name__right
        width 100%
        margin-bottom: 30px
    .blog-articles-sort-attr
        width 300px
    .mobile-sandwich-menu--button-t
        display none


@media screen and (max-width 575px)
    .table-test--info thead tr th
        font-size 14px
        padding 10px
    .table-test--info tr td
        font-size 14px
        word-break break-all
        &:nth-child(3)
            padding 0
            text-align center

    .popup-test--item
        flex-direction column
        align-items flex-start
    .table-test--info
        width 100%
    .review-tab-video-reviews__col
        height 250px
    .reveiws-buttons-show--wrap
        flex-direction: column
        .reveiw-button-show-more
            margin-right: 0
            margin-bottom: 20px
        .reveiw-button-show
            width 100%
    .main-tittle
        font-size: 24px
    .main-button-price
        flex-direction: column
        align-items: flex-start
    .services-people--left
        size(80px)
        min-width 80px
        .icon
            size(40px)
    .services-people-choise--wrap
        width 48%
    .services-people-choise
        justify-content: space-between
    .review-tab-button-text,.review-tab-button-video
        width 140px
    .services-main--list
        margin: 0 -25px
    .blog-button-item
        width 90px
    .support-button
        size(54px)
        .icon
            size(28px)
    .support-button--wrap
        right 12px
        bottom: 12px
    .section-title--wrap
        margin-bottom: 55px
    .reveiw-tab-text--item:last-child
        margin-bottom: 0
    .form-title
        font-size: 22px
    .header-top--logo .icon
        size(90px,60px)
    header
        height 60px
        box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.25);
    header.active
        .header-top--logo .icon
            fill #2F80ED !important
        .mobile-sandwich-menu--logo .icon
            fill #fff !important

    .mobile-sandwich-menu--button
        .icon
            size(36px)
    .main-price
        font-size: 30px
    .js-slider-arrows
        justify-content: center
        top: 56%
    .js-index-slider--prev
        margin-right: 15px
    .section-title
        font-size: 24px
    // .main-section
    //     margin-bottom: 140px
    .form--wrap .input-form--wrap
        flex-direction: column
        margin-bottom: 0
        .input-ur-forms
            width 100%
            margin-bottom: 30px
    .footer-middle--list
        display none
    .footer-middle--list--category
        display flex
    .footer-top-logo .icon
        size(90px)
    .footer-top
        padding: 0
    .section-buttons-block
        flex-direction: column
        margin-right: 20px
        .section-button-blue--v1
            margin: 0
            width 100%
            margin-bottom: 25px
            &:last-child
                margin-bottom: 0
    .section-sub-desc
        font-size: 14px
    .section-read-article--wrap
        margin: 0 -15px
        margin-bottom: 30px
        border-radius: 0
    .section-read-article--left span
        font-size: 13px
    .price-list--item
        font-size: 15px
    .section-price-list
        margin: 0 -15px
        margin-bottom: 40px
    .section-sub-desc
        font-size: 13px
    .price-list-body--item
        font-size: 13px
    .price-list-body__top
        flex-direction: column
    .price-list-body--item
        width 100%
        margin-bottom: 15px
        &:last-child
            flex-direction: row
            align-items: center
    .price-list-header
        border-radius: 0
    .section-why-people-c__item
        margin-bottom: 22px
        width 48%
    .section-why-people-c__icon
        size(80px)
    .section-why-people-c
        justify-content: space-between
    .section-why-people-c-name
        font-size: 15px
    .blog-button-item
        margin-right: 15px
        width 100%
    .section6 .container
        padding-right: 0
        padding-left: 0
    .support-consult
        position: fixed
        left: 0
        right 0
        top: 0
        bottom: 0
        width 100%
    .support-button--wrap
        z-index 2000
    .support-consult-middle
        height calc(100% - 177px)
    .support-consult-top
        border-radius: 0
    .support-consult-navbar
        border-radius: 0
    .section-great-files span
        font-size: 12px
    .section-block-attention-border--right__text
        font-size: 12px
    .section-block-attention-border--left__text
        margin-bottom: 20px
    .section-have-question__left
        padding: 25px
    .section-exam-main-wrap .personal-chat-container
        display none
    .map-info
        absolute-center()
    .blog-articles-sort--wrap
        display none
    .breadcrumbs-wrap
        margin-bottom: 0
    .comment-items--depth2
        padding-left: 0
    .reveiw-tab-video
        margin-top: 0
    .blog-articles-wrap
        margin: 0
    .media-ml-15
        padding: 0 15px
        padding-left: 15px !important
        padding-right: 15px !important
    .test-page--content__title
        margin-bottom: 20px
    .footer-top-phone:last-child
        margin-bottom: 50px
    .review-tabs-buttons
        width 100%
    .review-tab-button-text, .review-tab-button-video
        width 100%
    .blog-articles-wrap,.blog-title-buttons
        width 100%
    .mobile-sandwich-menu--button-m
        display: flex
    #popup-exam-reg
        .popup-exam-desc
            display none
        .popup-exam-reg
            padding: 20px
        .popup-exam-title
            font-size: 16px
            margin-bottom: 0
        .popup-exam-icon .icon
            size(36px)
    .input-ur-forms--wrap
        flex-direction: column
    .input-ur-forms
        width: 100% !important
    .input-ur-date
        margin-top: 30px
        width 100% !important
    .popup-pay-method
        flex-direction: column
    .popup-checkbox-style
        width 100%
    .ur-show-calendar
        flex-direction: column
        top: -550px
    .popup-calendar--date__exam__wrap
        margin-bottom: 20px
    .section-title.fs-30
        margin-bottom 35px
    .section-title:before
        height 9.5px
    .modal-content
        .m-40px
            margin 0
    .popup-forgot-password
        display none
    .popup-forgot-password--mobile
        display flex
        align-items center
        justify-content center
    .mobile-mb-15
        margin-bottom 15px !important
    .mobile-mb-30
        margin-bottom 30px !important
    .mobile-mb-25
        margin-bottom 25px !important
    #popup-auth
        .popup-have-acc
            flex-direction column
    .popup-login-social--item
        size(36px)
        .icon
            size(20px)
    .main-section
        height 100vh
        margin-bottom 90px
    .services-people-choise--wrap
        padding 0
    .services-people-choise
        padding 0 15px
    .services-main--block .main-services--item--wrap
        .main-services--title
            font-size 18px
            margin-bottom 15px
        .services-main--desc
            margin-bottom 25px
    .special-left--block__content
        padding 15px
    .have-question--right
        padding 30px 15px
    .services-main--block
        padding 25px 15px
    .reveiw-tab-text__content
        padding 20px
    .reveiw-tab-text__title
        font-size 20px
    .section-buttons-block
        margin-bottom 10px
    .section-exam-main-wrap
        .section-title.fs-30
            font-size 20px
            line-height 1.3
            span.fs-38
                font-size 30px
    .section-desc-p.mb-30
        margin-bottom 15px
    .section-sub-desc
        font-size 14px
        line-height 1.7
    .section-content-block--item.mb-70
        margin-bottom 50px
    .section-content-block--item
        width initial
        margin 0 -15px
        border-radius 0
    .section-block-attention-border .section-block-attention-border__icon
        left 15px
        size(48px)
        top -25px
    .section-block-attention-border p, .section-block-attention-border .section-block-attention-border--wrap
        padding 35px 15px 15px 15px;
    .section-price-list .price-list-body
        &:nth-child(2n)
            background-color #fff
    .section-demical--list li
        font-size 13px
    .section-have-question--address
        line-height 2.3
    .section-have-question__left
        background-position center
    .section-have-question--wrap
        margin 0 -15px
        margin-bottom 100px
        width initial
    .about-company-name__right
        .d-n
            display none
    .about-company-name__left
        .img-style
            display flex
    .about-page
        .section-have-question--wrap
            padding 0
        .section-title
            font-size 23px
    .blog-article--item--wrap
        padding 0
    .blog-article-content
        padding 15px
    .mobile-news-articles--wrap
        margin-bottom 40px
        .news-aside--list
            height auto
            overflow visible
    .news-page
        .section-content
            padding-right 0 !important
        .news-aside--item
            margin 0 5px


    .news-aside--list__js
        display block
        .slick-list
            margin 0 -5px
    .special-left--block__wrap2
        margin-bottom 15px
    .special-block--wrap
        margin-bottom 5px
    .main-button-color.mb-100
        width 100%
        border-radius 10px
        margin-bottom 50px
        max-width 100%
    .special-page
        .section-have-question--wrap
            padding 0
            margin-bottom 0
    .breadcrumbs-wrap
        margin-bottom 20px
        &::-webkit-scrollbar
            height 0
    .contact-page .section2
        .container
            padding 0
        .services-main--block
            border-radius 0
