section.section1.page-sec(style="background-image:url('./static/img/general/bg.jpg')")
    .container
        .main-block--wrap.mb-0.pb-60
            .main-block--left
                h1.main-tittle Перевод документов
                p.main-desc Arcu at in blandit arcu viverra mattis sit neque ut.
                .main-button-price
                    a.main-button-transparent(data-toggle="modal" data-target="#popup-docum") Зказать перевод онлайн
                        +arrow('arrow-button')
                    .main-price ~ от 1 500 ₽
            .main-block--right
                .main-block--social
                    a(href="/")
                        +icon('facebook')
                    a(href="/")
                        +icon('twitter')
                    a(href="/")
                        +icon('whatsapp')