// ЦВЕТА


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
Cm700 = 'Cormorant 700',sans-serif
Ms600 = 'Montserrat 600',sans-serif
Os600 = 'Open Sans 600',sans-serif
Ops400 = 'Open Sans 400',sans-serif
Ms500 = 'Montserrat 500',sans-serif
Ms400 = 'Montserrat 400',sans-serif
Os500 = 'Oswald 500',sans-serif
Os400 = 'Oswald 400',sans-serif