.main-section
	background-size 125%
	background-repeat no-repeat
	background-position top center
.header-top--phone--wrap
	display flex
	flex-direction column
	align-items center
.header-top--callback
	font-family 'Montserrat 500',sans-serif
	font-size 16px
	color #fff
	cursor pointer
	transition all linear .2s

.main-block--social
	display flex
	flex-direction column
	a
		margin-bottom 40px

		&:last-child
			margin-bottom 0
		.icon
			size(26px)
			fill #fff
			transition all linear .2s
		&:hover
			.icon
				fill #2F80ED
.main-block--wrap
	display flex
	align-items center
	justify-content space-between
	height 100%
	padding-top 260px
	margin-bottom 95px

.main-tittle
	font-family Cm700
	color #fff
	font-size 50px
	margin-bottom 20px
.main-desc
	font-family Ms400
	color #fff
	font-size 18px
	margin-bottom 60px
.main-button-price
	display flex
	align-items center
.main-price
	font-family Cm700
	font-size 35px
	color #2F80ED
	text-shadow: 0px 0px 25px rgba(47, 128, 237, 0.4);

.content-item-ur
	background-color #F9F9F9
	padding 10px
	border-radius 10px
	margin 0 15px
	outline none
	transition .3s ease-in
	cursor pointer
	&:hover
		transform translateY(-30px)
		background-color #fff
		.content-item-ur__title
			color #2F80ED


.js-index-slider .slick-list
	margin 0 -10px
	padding 40px 0
.content-item-ur__img
	width 100%
	height 180px
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px 5px 0 0;
	margin-bottom 15px
.content-item-ur__title
	font-family Cm700
	font-size 19px
	color #272727
	margin-bottom 10px
	transition .3s ease-in
.content-item-ur__desc
	font-family Ms400
	font-size 12px
	color #272727c4;
.js-slider-arrows
	display flex
	align-items center
	justify-content space-between
	absolute-center()
	width 100%
.arrows-slider
	display flex !important
	justify-content center
	align-items center
	size(30px)
	background-color #fff
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	cursor pointer
	.icon
		fill #2F80ED
		size(14px)
.arrows-slider.slick-disabled
	.icon
		fill rgba(39, 39, 39, 0.2);
.js-index-slider--container
	position relative
.js-index-slider--prev
	margin-left -50px
.js-index-slider--next
	margin-right -50px

.padding-deafault-50
	padding 50px 0
.section-title
	font-family Cm700
	font-size 34px
	color: #272727;
	position relative
	margin-bottom 60px
	&:before
		content ''
		position absolute
		left 0
		bottom -15px
		width 100%
		height 10px
		background-image url("/static/img/general/figure.png")
		background-repeat no-repeat
		background-size contain
.main-services--item
	border: 1.5px solid rgba(39,39,39,0.05)
	padding 25px
	height 100%
	.icon
		size(50px)
		fill #2F80ED
		margin-bottom 25px
.main-services--title
	font-family Cm700
	font-size 22px
	color #272727
	margin-bottom 20px
.main-services--item2
	font-family Ms400
	color #919191
	font-size 13px
	margin-bottom 12px
	&:last-child
		margin-bottom 25px
.main-services--link
	font-family Cm700
	color #2F80ED
	font-size 16px
.main-services--item--wrap
	margin-bottom 30px

.services-main--block
	background: #F9F9F9;
	border: 2px solid #20253E;
	border-radius: 10px
	margin 0 -100px
	padding 60px 100px
	margin-bottom 80px
	.main-services--item--wrap
		display flex
		align-content stretch
.services-main--desc
	font-family Ms400
	font-size 13px
	color rgba(39, 39, 39, 0.7);
.services-main--price
	color #2F80ED
	font-family Cm700
	font-size 22px
.bg-img2
	position: absolute;
	background-repeat no-repeat
	background-size cover
	width: 100%;
	top: 200px;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	will-change transform

.section-title--white
	color #fff

.services-people--left
	display flex
	justify-content center
	align-items center
	size(100px)
	min-width 100px
	margin-right 25px
	border 5px solid rgba(255,255,255, 0.1)
	.icon
		size(50px)
		fill #fff
.services-people-choise--item
	display flex
	align-items center
.services-people--title
	font-family Cm700
	font-size 19px
	color #fff
	margin-bottom 15px
.services-people--desc
	font-family Ms400
	font-size 13px
	color rgba(255,255,255, 0.7)
.services-people-choise--wrap
	margin-bottom 60px
.special-block--wrap
	display flex
	align-items stretch
.special-left--block__content
	display flex
	flex-direction column
	padding 0px 20px
	width 100%
.special-left--block__top
	display flex
	align-items center
	justify-content space-between
	margin-bottom 13px
.special-left--img
	background-repeat no-repeat
	background-size: cover;
	width: 100%;
	min-width 146px
	max-width: 177px
	height: 155px;
.special-left--block__item
	display flex
	align-items center
	border 1px solid rgba(39,39,39, 0.07)
.special-left--block
	margin-left -30px
.special-left--block__title
	font-family Cm700
	font-size 23px
	color #272727

.special-left--block__price
	font-family Cm700
	font-size 23px
	color #2F80ED
.special-left--block__bottom
	font-family Ms400
	color rgba(39,39,39,0.7)
	font-size 13px
.special-left--block__wrap
	margin-bottom 30px
	&:nth-child(n+2)
		margin-bottom 0
.special-left--block__wrap2
	margin-bottom: 30px
.special-right--block
	display flex
	flex-direction column
	justify-content center
	align-items center
	background-color #F9F9F9
	border-radius 10px
	width 100%
	margin-left 15px
.special-right--text
	display flex
	flex-direction column
	align-items center
	text-align center
	margin-bottom 60px
	.special-right--text__item
		font-family Cm700
		color #272727
		font-size 21px

		&:nth-child(2)
			font-size 90px
			line-height 0.7
			margin-bottom 20px

.special-right--text__link
	color #2F80ED
	font-family Cm700
	font-size 18px
.aling-str
	display flex
	align-content stretch
.have-question--wrap
	display flex
	justify-content space-between
.have-question--left
	width 35%
.have-question--right
	width 60%
	background-color #fff
	border-radius 10px
	border: 1.5px solid rgba(39, 39, 39, 0.05);
	padding 30px
.have-question--left__phone
	display flex
	align-items center
	margin-bottom 40px
	&:last-child
		margin-bottom 0
	.icon
		size(22px)
		fill #2F80ED
		margin-right 20px
		min-width 22px
.have-question--left__link
	font-family Ms600
	font-size 16px
	color #272727
.have-question--text
	font-family Ms400
	font-size 13px
	color rgba(39,39,39,0.7)
	margin-bottom 20px
	&:nth-child(2)
		margin-bottom 50px
.form-title
	font-family Cm700
	margin-bottom 40px
	font-size 28px
	color #272727
	text-align center
	position relative
	display flex
	flex-direction column
	justify-content center
	align-items center

	span
		position relative
		display block
		margin-top 10px
		width: 68px
		height: 10px;
		background-image: url(/static/img/general/figure.png);
		background-size: contain;
		background-repeat: no-repeat;
.section-title--wrap
	display flex
	justify-content space-between
	align-items center
	margin-bottom 130px
.review-tabs-buttons
	display flex
	align-items center
.review-tab-button-text,.review-tab-button-video
	width 170px
	font-family Cm700
	font-size 15px
	color #fff
	display flex
	justify-content center
	align-items center
	height 45px
	border: 1.5px solid #F9F9F9;
	background-color transparent
	transition .3s ease-in
	cursor pointer
.review-tab-button-text
	margin-right 30px
.tabs-buttons.active
	background-color #2F80ED
	border: 1.5px solid #2F80ED;
	color #fff
.reveiw-tab-text--item
	display flex
	align-items flex-end
.tabs-content
	display none
.tabs-content.active
	display flex
.reveiw-tab-video.active
	display: block
.reveiw-tab-text--wrap
	display flex
	justify-content space-between
.reveiw-tab-text--item
	width 48%
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(7px);
.review-tab-text__img
	background-size contain
	background-repeat no-repeat
	width: 267px;
	height: calc(100% + 40px);
	display: flex;
	align-items: flex-end;
	background-position: bottom;
.reveiw-tab-text__title
	font-family Cm700
	font-size 22px
	color #fff
	margin-bottom 20px
.reveiw-tab-text__desc
	font-family Ms400
	font-size 13px
	color rgba(255,255,255,0.7)
.reveiw-tab-text__content
	padding: 23px
	size(100%)
	position relative

	.icon
		position absolute
		right 20px
		top -25px
		size(50px)
		fill #2F80ED
.reveiw-tabs-list
	margin-bottom 50px
.blog-title-buttons
	display flex
	align-items center
.blog-button-item
	display flex
	align-items center
	justify-content center
	background-color #F9F9F9
	height 45px
	width 170px
	margin-right 30px
	font-family Cm700
	font-size 15px
	color #272727
	cursor pointer
	&:last-child
		margin-right 0
.blog-article-date
	display flex
	align-items center
	padding 20px
	.icon
		size(20px)
		fill #2F80ED
		margin-right 15px
	span
		font-family Cm700
		font-size 18px
		color rgba(39,39,39,0.6)

.blog-article--item
	border: 1.5px solid rgba(39,39,39,0.05)
.blog-article-img
	background-repeat no-repeat
	background-size cover
	width 100%
	height 260px
.blog-article-title
	font-family Cm700
	font-size 23px
	color #272727
	margin-bottom 15px
.blog-article-desc
	font-family Ms400
	font-size 13px
	color rgba(39,39,39,0.7)
	margin-bottom 25px
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	word-wrap: break-word;
	-o-text-overflow: ellipsis;
	-ms-line-clamp: 5;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	-webkit-box-orient: vertical;
	box-orient: vertical;
.blog-article-link
	font-family Cm700
	font-size 17px
	color #2F80ED
.blog-article-content
	padding 20px
.mb-50
	margin-bottom 60px
.faq-left
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	svg
		size(380px)
		margin-bottom 50px
.faq-main-block
	display flex
	align-items flex-start
	justify-content space-between
.faq-question-item--wrap
	margin-bottom 30px
	&:last-child
		 margin-bottom 0
.faq-question-item--text
	display none
	padding 20px
	font-family Ms400
	font-size 13px
	color #272727
.faq-question-item
	display flex
	align-items center
	justify-content space-between
	border: 1.5px solid rgba(39,39,39,0.05)
	padding 15px
	height 70px
	width 100%
.faq-question-item.active
	.icon
		transform rotate(180deg)
.faq-question-show
	display flex
	justify-content center
	align-items center
	size(41px)
	background-color #EEF2F8
	cursor pointer
	.icon
		size(13px)
.faq-left
	width 40%
	p
		font-family Ms400
		font-size 13px
		color rgba(39,39,39,0.7)
		text-align center
.faq-right
	width 56%
.faq-question-num-title
	display flex
	align-items center
.faq-question-number
	margin-right 12px
	font-family Cm700
	font-size 26px
	color #2F80ED
.faq-question-title
	font-family Cm700
	font-size 20px
	color #272727
.footer-bottom-lang--wrap
	margin-right 10px
.footer-bottom-lang-list
	max-width: 196px;

.pb-60
	padding-bottom 60px

.section-exam-main-wrap
	display flex

.fs-30
	font-size 30px
.mb-45
	margin-bottom 45px
.side-toggle-exam--list
	margin-bottom 30px
.side-toggle-exam--wrap
	display flex
	align-items center
	justify-content space-between
	background-color #EFF3F8
	border-radius 10px
	padding 15px
	position relative
	cursor pointer
.side-toggle-list--attr
	display none
	flex-direction column
	background-color #F9F9F9
	padding 20px 15px
	margin-top -6px
	border-radius 0 0 10px 10px
.side-toggle-item--attr
	font-family Ms400
	font-size 14px
	color rgba(39,39,39,0.7)
	margin-bottom 20px

	&:last-child
		margin-bottom 0
.side-toggle-exam--title
	font-family Cm700
	font-size 20px
	color #272727
.side-toggle-exam--arrow
	.icon
		size(12px)
		fill #272727
.side-button-exam
	display flex
	justify-content center
	align-items center
	background-color #2F80ED
	border-radius 10px
	width 100%
	font-family Cm700
	font-size 20px
	color #fff
	height 54px
	cursor pointer
	position relative
	.icon
		size(26px)
		fill #fff
		margin-right 15px

.mb-20
	margin-bottom 20px
.button-attention
	display flex
	justify-content center
	align-items center
	position absolute
	right 12px
	top -10px
	size(20px)
	border-radius 50%
	box-shadow 0 0 0 3px #fff
	font-family Ms600
	font-size 13px
	color #fff
	background-color #2F80ED

.section-sidebar
	position sticky
	top 210px
	display inline-table
	padding-left 0
	margin-bottom 50px
.section-content
	padding-right 0
.section-desc-p
	font-family Ms400
	font-size 14px
	color rgba(39,39,39,0.7)
.section-sub-desc
	font-size 15px
	font-family Ms500
	color #272727

.section-button-blue--v1
	display flex
	align-items center
	background-color #2F80ED
	border-radius 10px
	width 100%
	font-family Cm700
	font-size 18px
	color #fff
	height 50px
	cursor pointer
	position relative
	padding 7px
	.icon
		absolute-center()
		right: -40px;
		left: auto;
		width: 40px;
		height: 20px;
		fill: transparent;
		stroke: #fff;
		stroke-width: 2px;
	.icon-arrow-button #i-2,.icon-arrow-button #i-3
		stroke: #2f80ed;

.section-button-number
	display flex
	justify-content center
	align-items center
	font-size 28px
	color #fff
	background-color rgba(255,255,255,0.3)
	border-radius 6px
	size(36px)
	padding-bottom 5px
	margin-right 15px
.mw-270px
	width 270px
.section-buttons-block
	display flex
	align-items center
	margin-bottom 60px
.mr-35
	margin-right 35px
.fs-38
	font-size 38px
.section-read-article--wrap
	display flex
	align-items center
	justify-content space-between
	padding 5px
	background-color #F9F9F9
	border-radius 10px
.section-read-article--left__icon
	display flex
	justify-content center
	align-items center
	width 40px
	min-width 40px
	min-height 40px
	background-color #EEF2F8
	border-radius 10px
	margin-right 20px
	.icon
		size(22px)
		fill #2F80ED
.section-read-article--left
	display flex
	align-items stretch
	span
		display flex
		align-items center
		font-family Ms500
		font-size 14px
		color #2F80ED
		padding 10px 0
.section-read-article--right
	a
		font-family Ms400
		font-size 13px
		color rgba(39,39,39,0.7)
		margin-right 10px
		text-decoration underline
.mb-60
	margin-bottom 60px
.section-romb-list

	li
		font-family Ms400
		font-size 13px
		color rgba(39,39,39,0.7)
		margin-bottom 15px
		padding-left 15px
		position relative
		&:last-child
			margin-bottom 0
		&:before
			content '■'
			position absolute
			left 0
			top -5px
			font-size 18px
			transform: rotate(45deg);
			display: inline-block;
			color #2F80ED
.section-content-block--item
	display flex
	align-items stretch
	width 100%
	background-color #F9F9F9
	border-radius 10px
	padding 40px 30px
.section-content-block--item__left
	width 55%
.section-content-block--item__right
	position relative
	width 45%
.section-content-block__desc
	text-align center
	font-family Ms400
	font-size 14px
	color #666666
	margin-bottom 20px
	a
		color #2F80ED
.section-content-block__address
	text-align center
	font-family Ms500
	font-size 13px
	color #272727
	margin-bottom 20px
.section-content-block__phone
	text-align center
	.icon
		size(20px)
		fill #2F80ED
		margin-right 10px
	a
		font-family Ms600
		font-size 16px
		color #272727
.section-content-block--img
	position: absolute;
	width: 100%;
	bottom: 0;
	margin-bottom: -40px;

.mb-70
	margin-bottom 70px
.section-desc-p-cursive
	font-family Ms400
	font-size 13px
	color rgba(39,39,39,0.7)
	font-style italic
.section-block-attention-border
	position relative
	p,.section-block-attention-border--wrap
		font-family Ms400
		font-size 14px
		color #272727
		padding 50px 30px 30px 30px
		border: 1.5px solid rgba(39,39,39,0.05)
		a
			color #2F80ED
	.section-block-attention-border__icon
		display flex
		justify-content center
		align-items center
		position absolute
		size(60px)
		background-color #EEF2F8
		border-radius 8px
		top -30px
		left 30px
		.icon
			size(25px)
			fill #2F80ED
.section-block-attention-border--wrap
	display flex
	align-items center
	justify-content space-between
.fs-26
	font-size 26px
.price-list-header
	display flex
	align-items center
	background-color #2F80ED
	border-radius: 10px 10px 0px 0px;
	height 60px
	padding 18px 25px
	width 100%
	margin-bottom 15px
.w_45
	width 45%
.w_40
	width 40%
.w_20
	width 20%
.price-list--item
	font-family Cm700
	font-size 20px
	color #fff

.price-list-body
	background-color #F9F9F9
	padding 20px
	margin-bottom 15px
	&:last-child
		margin-bottom 0
.price-list-body__top
	display flex
	align-items center
.price-list-body--item
	padding-right 20px
	font-family Ms400
	font-size 15px
	color rgba(39,39,39,0.7)
	&:last-child
		padding-right 0
.price-body-top
	color #2F80ED
	font-family Ms500
.price-body-top__arrow
	display flex
	justify-content center
	align-items center
	cursor pointer
	size(36px)
	background: #FFFFFF;
	box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	.icon
		size(12px)
		fill rgba(39,39,39,0.4)
.price-body-top__arrow.active
	.icon
		transform rotate(180deg)
		fill #2F80ED
.price-body-top-d-flex
	display flex
	align-items center
	justify-content space-between
.price-list-body__toggle
	display none
	border-top 1px solid rgba(39,39,39,0.1)
	margin-top 20px
	padding-top 20px

	ul
		li
			position relative
			list-style-type: none;
			counter-increment: list;
			font-family Ms400
			font-size 14px
			color rgba(39,39,39,0.7)
			margin-bottom 10px
			padding-left 20px
			&:last-child
				margin-bottom 0
			&:before
				content: counter(list) ".";
				position: absolute;
				font-family Ms500
				font-size 14px
				left 0
				color #2F80ED
.mb-40
	margin-bottom 40px
.blue-color
	color #2F80ED
.section-demical--list
	li
		position relative
		list-style-type: none;
		counter-increment: list;
		font-family Ms400
		font-size 15px
		color rgba(39,39,39,0.7)
		margin-bottom 15px
		padding-left 20px
		&:last-child
			margin-bottom 0
		&:before
			content: counter(list) ".";
			position: absolute;
			font-family Ms500
			font-size 14px
			left 0
			color #2F80ED

.section-sub-desc-bold
	font-family Ms600
	font-size 15px
	color #272727
.mb-15
	margin-bottom 15px
.section-have-question--wrap
	display flex
	align-items stretch
	width 100%
	margin-bottom 100px
.section-have-question__left
	padding 40px
	background-repeat no-repeat
	background-size cover
	width 50%
	border-radius: 10px 0 0 10px;
.section-have-question__right
	width 50%
	padding 30px
	border-radius: 0px 10px 10px 0;
	box-shadow: 0px 4px 30px -7px rgba(0, 0, 0, 0.13);
.section-have-question--text
	font-family Ms400
	font-size 13px
	color rgba(255,255,255,0.6)
	margin-bottom 15px
.section-have-question--address
	font-family Ms500
	font-size 13px
	color #fff
	margin-bottom 40px
.section-have-question--contacts
	display flex
	align-items center
	.icon
		size(21px)
		fill #2F80ED
		margin-right 23px
	a
		font-family Ms600
		font-size 16px
		color #fff
.section-why-people-c
	align-items flex-start
.section-why-people-c__item
	display flex
	flex-direction column
	justify-content center
	align-items center
	margin-bottom 50px
.section-why-people-c__icon--wrap
	position relative
	width max-content
	height max-content
	border 1px solid #F9F9F9
	border-radius 10px
	margin-bottom 30px
	&:after
		content ''
		display block
		absolute-center()
		top auto
		bottom -30px
		background-image url("/static/img/general/figure.png")
		background-size contain
		background-repeat no-repeat
		width 54px
		height 10px
		bottom -25px
		margin 0 auto
.section-why-people-c__icon
	display flex
	justify-content center
	align-items center
	size(100px)
	background-color #F9F9F9
	border-radius 10px
	margin 10px
.section-why-people-c-name
	font-family Cm700
	font-size 20px
	color #272727
	text-align center

.scbi-2
	flex-flow row-reverse
	.section-content-block--item__left
		width 50%
	.section-content-block--item__right
		width 50%
.section-reviews-content
	.review-tab-button-text,.review-tab-button-video
		color #272727
		background-color #F9F9F9
	.review-tab-button-text.active,.review-tab-button-video.active
		background-color #2F80ED
		color #fff
	.reveiw-tab-text__title
		color #272727
	.reveiw-tab-text__desc
		color #272727
	.reveiw-tab-text--item
		border: 1px solid rgba(39, 39, 39, 0.1);
		border-left none
	.review-tab-text__img
		border 1px solid rgba(39, 39, 39, 0.1);

.bold-desc
	font-family Ms600
	color #272727

.desc-bold-p
	font-family Ms500
	color #272727
.section-great-files
	display flex
	align-items center
	background-color #F9F9F9
	padding 20px 20px
	border-radius 10px
	cursor pointer

	span
		font-family Ms500
		font-size 14px
		color #2F80ED
		font-style italic

.section-great-files--icon
	margin-right 20px

.section-block-attention-border--left__link
	display block
	font-family Ms500
	font-size 14px
	color #2F80ED
	margin-bottom 15px
.section-block-attention-border--right__text
	background-color #F9F9F9
	border-radius 10px
	padding 20px
	color #868686

.ff-600
	font-family Ms600
.section-price-link
	display flex
	justify-content center
	align-items center
	font-family Cm700
	font-size 20px
	color #2F80ED
.section-romb--wrap
	display flex
	align-items center
	justify-content space-between
.section-romb-img
	width 40%
.section-sert-wrap
	display flex
	align-items center
	justify-content space-between
.section-sert-wrap--left
	width 40%
.section-sert-wrap--right
	width 55%
	font-family Ms400
	font-size 14px
	color #868686
.ff-500
	font-family Ms500 !important
.section-info-blocks-wrap
	display: flex
	justify-content: space-between
	width 100%
.section-info-block--left
	width 60%
.mb-70
	margin-bottom 70px

.test-exam-attr--item
	position: relative;
	list-style-type: none;
	counter-increment: list;
	font-family: Ms600
	font-size 16px
	color: #272727

	&:before
		content: counter(list) ".";
		position: relative;
		font-family: 'Montserrat 500', sans-serif;
		font-size: 14px;
		left: 0;
		color: #2f80ed;
		margin-right: 8px

.test-exam-attr--item__desc
	margin-top: 10px
	font-family: Ms400
	font-size: 13px
	color: #868686
.gray-color
	color #686868
.contacts-grafik-rabot
	font-family: Ms500
	font-size: 14px
	color: #272727
	margin-bottom 10px
.contacts-grafik--list
	margin-bottom 50px
	li
		font-family: Ms400
		font-size: 14px
		color: #686868
		margin-bottom 5px
.contact-ur-info
	font-family: Ms500
	font-size: 14px
	color: #272727
	margin-bottom: 20px
	&:last-child
		margin-bottom 0px
	span
		color #686868
.contacts-form-page
	flex-wrap: wrap
.contacts-tel-reg
	display flex
	align-items: center
	padding: 6px !important
	input
		border: none
		width 100%
.contacts-tel-reg--wrap
	display flex
	align-items: center
	justify-content: space-between
	padding: 10px 6px
	background-color #EEF2F8
	border-radius: 5px
	width 80px
	height 100%
	margin-right: 15px
	position relative
	cursor pointer
.contacts-tel-reg--arrow
	.icon
		size(11px)
		fill: #686868
.contacts-tel-reg--flag
	display flex
	align-items: center
	background-size: contain
	background-repeat: no-repeat
	size(23px,14px)
.contacts-tel-reg-list
	position: absolute
	background-color: #373b4e;
	top: 45px;
	width: 100%;
	right: 0;
	left: 0;
	border: 1px solid rgba(255,255,255,0.3);
	padding: 10px 15px;
	display: none;

.contacts-tel-reg-item--flag
	display flex
	align-items: center
	background-size: contain
	background-repeat: no-repeat
	size(23px,14px)
.contacts-tel-reg-item
	display: flex
	align-items: center
	justify-content: center
	margin-bottom 10px
	&:last-child
		margin-bottom 0px
.contacts-main--block
	border none
.map-info
	position: absolute
	width 270px
	right: 31%;
	top: 20%;
.map-info--content
	background-color: #fff
	border: 1px solid rgba(39, 39, 39, 0.1);
	border-radius: 10px
	p
		font-family: Ms500
		font-size: 13px
		color #272727
		text-align: center
.map-bg
	background-repeat: no-repeat
	background-size: cover
	height 400px
	width 100%
	position relative
.map-info
	display flex
	justify-content: center
	align-items: center
	flex-direction: column
	.icon
		fill: #2F80ED
		size(52px)
.map-info--content
	display flex
	justify-content: center
	align-items: center
	flex-direction: column
	padding: 30px
	.icon
		size(88px,31px)
		fill: #2F80ED
		margin-bottom: 25px
.about-company-name
	display flex
	align-items: center
	justify-content: space-between
.about-company-name__left
	width 48%
.about-company-name__right
	width 48%
	display: flex
.img-style
	width 70%
	margin: 0 auto
.side-toggle-exam--wrap.active .side-toggle-exam--arrow .icon
	transform: rotate(180deg)
.mb-68
	margin-bottom: 68px
.bg-blue
	background-color: #2F80ED
	color: #fff
	&:hover
		color: #fff
.blog-article--item--wrap
	margin-bottom: 30px
.blog-articles-sort
	display flex
	position: relative
	justify-content: space-between
	align-items: center
	background-color: #EFF3F8
	border-radius: 10px
	height 70px
	padding: 10px
	z-index 3
.blog-articles-sort-attr
	display flex
	background-color: #F9FAFC
	padding: 16px
	width 360px
	border-radius: 10px
	cursor pointer
.blog-articles-sort-attr.active .blog-articles-sort-attr--select .icon
	transform: rotate(180deg)

.blog-articles-sort-attr--select
	.icon
		size(12px)
.blog-articles-sort--title
	font-family: Cm700
	font-size: 22px
	color: #272727
	span
		font-family: Ms400
		font-size: 14px
		color: rgba(39,39,39,0.5)
.blog-articles-sort-attr--select
	display: flex
	justify-content: space-between
	align-items: center
	position: relative
	width 100%
	span
		font-family: Ms400
		font-size: 15px
.blog-articles-sort-attr--title
	font-family: Ms400
	font-size: 15px
	color: rgba(39,39,39,0.5)
	margin-right: 5px
.blog-articles-sort-attr--select__list
	position: absolute
	width 100%
	display none
	left 0
	right 0
	top: 55px
	background-color: #fff
	box-shadow: 0 0 8px 3px #27272724;
	z-index 2
	border-radius: 10px
	padding: 10px
.blog-articles-sort-attr--select__item
	font-family: Ms400
	font-size: 15px
	color: #272727
	margin-bottom: 10px
	cursor pointer
	&:last-child
		margin-bottom 0px
.blog-articles-sort--list
	display flex
	align-items: center
	background-color: #F9F9F9
	border-radius: 10px
	padding: 10px 10px
	overflow-x: auto
	padding-top: 25px
	margin-top: -15px
	z-index: 0
.blog-articles-sort--list::-webkit-scrollbar
	height 0
.blog-articles-sort--item
	background-color: #fff
	padding: 12px 20px
	border-radius: 5px
	width max-content
	font-family: Ms400
	font-size: 13px
	color: rgba(39,39,39,0.5)
	cursor pointer
	margin-right: 15px
	white-space: nowrap;
.blog-articles-sort--wrap
	margin-bottom: 30px
.mw-230
	max-width 230px
.news-aside--title
	font-family: Cm700
	font-size: 20px
	color: #272727
	background-color: #F5F9FE
	border-radius: 10px
	padding: 15px
	margin-bottom: 30px
.news-open--calendar
	display flex
	align-items: center
	margin-bottom: 25px
	.icon
		size(20px)
		fill #2F80ED
		margin-right: 15px
	span
		font-family: Cm700
		font-size: 18px
		color rgba(39,39,39,0.6)
.img-main
	width 100%
.news-cursive-annotation
	color #2F80ED
	font-family: Ms500
	font-style: italic
	border-left: 3px solid #2F80ED
	padding-left: 15px
	font-size: 14px
.comments-title
	font-family: Ms600
	font-size: 20px
	color: #272727
	margin-bottom: 30px
.comment-item
	display: flex
	align-items: center
	margin-bottom: 20px
.comment-item--img
	background-repeat: no-repeat
	background-size: cover
	size(60px)
	border-radius: 5px 15px;
	margin-right: 15px
.comment-item--name
	font-family: Cm700
	font-size: 18px
	color: #272727
	margin-bottom: 7px
.comment-item--date
	font-family: Ms400
	font-size: 13px
	color: rgba(39,39,39,0.4)
.comment-item--text
	font-family: Ms400
	font-size: 13px
	color: rgba(39,39,39,0.7)
	border-bottom: 1px solid rgba(39,39,39,0.1)
	padding-bottom: 20px
	margin-bottom: 20px
.comment-item--toggle
	display: flex
	align-items: center
	margin-bottom: 25px
	width max-content
	cursor pointer
	.icon
		size(12px)
		fill: #2F80ED
		transform: rotate(180deg)
.comment-item--toggle.active
	.icon
		transform: rotate(0deg)
.comment-item--toggle__text
	font-family: Ms600
	font-size: 14px
	color: #2F80ED
	margin-right: 10px
.comment-textarea
	background-color: #F2F2F2
	padding: 15px
	font-family: Ms400
	font-size: 13px
	color: #272727
	border none
	border-radius: 10px
	width 100%
	outline: none
	margin-bottom: 30px
	&::placeholder
		color: rgba(39,39,39,0.6)
.comment-items--depth2
	padding-left: 100px
.comment-items--toggle-show
	display none
.comment-submit
	display: flex
	align-items: center
	justify-content: center
	background-color: #2F80ED
	border-radius: 10px
	height 46px
	font-family: Ms500
	font-size: 14px
	color: #fff
	border none
	width 170px
.cb-20
	margin-bottom: 20px !important
.news-aside--img
	background-repeat: no-repeat
	background-size: cover
	width 100%
	height 200px
	border-radius: 10px 10px 0px 0px;
	background-position: center
	margin-bottom: 15px
.news-aside--item
	background-color: #F9F9F9
	border-radius: 10px
	margin-bottom: 30px
.news-aside--name
	font-family: Cm700
	font-size: 20px
	color: #272727
	text-align: center
	margin-bottom: 15px
.news-aside--text
	font-family: Ms400
	font-size: 13px
	color rgba(39,39,39,.7)
	margin-bottom: 15px
.news-aside--link
	font-family: Cm700
	font-size: 15px
	color: #2F80ED
.news-aside--info
	padding: 0 10px
	padding-bottom: 15px
.news-aside--list
	overflow-y: auto
	height calc(100vh - 390px)
	margin-bottom: 20px
.news-aside--list::-webkit-scrollbar
	width 0
.news-aside-all--link
	display flex
	justify-content: center
	align-items: center
	font-family: Ms600
	font-size: 14px
	color #fff
	background-color: #2F80ED
	border-radius: 10px;
	width 100%
	height 54px
.mb-100
	margin-bottom: 100px

.services-main--list--slider-dots,.main--list--slider-dots
	display flex
	justify-content: center
	ul
		li
			display inline-block
			size(10px)
			border-radius: 50%
			background-color: rgba(39,39,39,0.2)
			margin-right: 15px
			&:last-child
				margin-right: 0
		li.slick-active
			background-color #2F80ED
			box-shadow: 0 0 0 3px #94BDF3
.mobile-sandwich-menu
	display none
	position: fixed
	left 0
	right 0
	top: 0
	bottom: 0
	height 100%
	width 100%
	z-index 1700
	transform: translateX(-100vw)
	transition: 0.5s ease
	will-change: transform
.mobile-sandwich-menu.active
	transform: translateX(0)
	.mobile-sandwich-close
		opacity: 1
		transition: 0.5s ease
		transition-delay: 0.5s
	&:after
		content ''
		position: fixed
		background: linear-gradient(99.09deg, rgba(30, 37, 71, 0.75) 0%, rgba(30, 37, 71, 0.525) 100%), linear-gradient(99.09deg, rgba(38, 38, 38, 0.8) 0%, rgba(38, 38, 38, 0.56) 100%);
		left 0
		right 0
		bottom: 0
		top: 0
		height 100%
		width 100%
		z-index -1
		opacity: 1
		transition: 0.5s ease
		transition-delay: 0.5s
.mobile-sandwich-close
	position: fixed
	right 18px
	top: 18px
	opacity 0
	.icon
		size(19px)
		fill: #fff
.mobile-sandwich-menu--content
	padding: 15px
	height 100%
	background: #252B4A
	width calc(100vw - 55px)
.mobile-account--sandwich__logo
	display flex
	justify-content center
	align-items center
	size(34px)
	border-radius 50%
	background-size cover
	background-repeat no-repeat
	box-shadow 0 0 0 5px rgba(255,255,255,0.15)
.mobile-sandwich-menu--logo
	display flex
	justify-content space-between
	align-items center
	padding-left: 15px
	padding-right 15px
	padding-bottom: 15px
	margin: 0 -15px
	border-bottom: 1px solid rgba(255,255,255,0.1)
	margin-bottom: 15px
	.icon
		size(90px,34px)
		fill: #fff
.mobile-sandwich-menu--list
	display flex
	flex-direction: column
	overflow-y: auto

.mobile-sandwich-menu--item
	font-family: Ms500
	font-size: 15px
	color #fff
	margin-bottom: 30px
.footer-social--list--mobile
	display: none
.footer-middle--list--category
	display none
	position: relative
	justify-content: space-between
	align-items: center
	background-color: #2C3145
	border: 1.5px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	font-family: Ms400
	font-size: 13px
	color: rgba(255,255,255,0.7)
	padding: 15px
	margin-bottom: 20px
	.icon
		size(14px)
		fill: #575A69
.footer-middle--list--category__list
	padding: 15px
	position absolute
	display none
	cursor: pointer
	width 100%
	left 0
	right 0
	top: 55px
	background-color: #2C3145
	z-index 2
	border-radius: 10px
.footer-middle--list--category__item
	margin-bottom: 10px
	font-family: Ms400
	cursor: pointer
	&:last-child
		margin-bottom: 0
.test-page--top
	display: flex
	justify-content: space-between
	align-items: center
.test-page--left
	display flex
	align-items: center
.test-page--left__title
	font-family: Os400
	font-size: 24px
	color #272727
	margin-right: 30px
.test-page--left__timer
	display flex
	justify-content: center
	align-items: center
	padding: 25px 30px
	background-color: #2F80ED
	font-family: Os500
	font-size: 20px
	color: #fff
	height: 40px
	border-radius: 25px
.test-page--right
	font-family: Os500
	font-size: 18px
	color: #2F80ED
	span
		color #272727
		font-size: 15px
		margin-left: 3px
.test-page--top,.test-page--content
	background-color: #fff
	padding: 20px 25px
	border-radius: 10px
.test-page--top
	margin-bottom: 30px
.color-E5E5E5
	background-color: #E5E5E5
.test-page--content__title
	font-family: Os500
	font-size: 28px
	color #272727
	text-align: center
.tpcq-f
	font-family: Ms500
	font-size 15px
	color #272727
	margin-bottom 15px
.test-page--button
	margin-bottom: 15px
	label
		width 100%
.test-page--button.checked
	.test-page--dot
		&:before
			position: absolute;
			width: 10px;
			height: 10px;
			content: '';
			border-radius: 50%;
			background: #2f80ed;
			-webkit-box-shadow: 0px 0px 0px 3px rgba(47,128,237,0.5);
			box-shadow: 0px 0px 0px 3px rgba(47,128,237,0.5);

.test-page--input
	display none

.test-page--check
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f9f9f9;
	border-radius: 5px;
	padding: 15px;
	height: 60px;
	width: 100%;
	cursor: pointer;
.test-page--dot
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	width: 18px;
	height: 18px;
	border: 1px solid rgba(39,39,39,0.1);
	background: rgba(39,39,39,0.05);
	border-radius: 50%;
	margin-right: 15px;
	min-width: 18px;
.test-page--button__title
	font-family: Ms500
	font-size: 15px;
	color: #272727;
.test-page--content__question
	margin-bottom: 30px
.test-page--buttons
	margin-bottom: 45px
.test-page--content
	button
		margin-bottom: 35px
.support-consult-message-out,.support-consult-message-in
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 20px;
	padding: 0 20px;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
.support-consult-message-out
	align-items: flex-end;
	.support-consult-message--block__time
		margin-right: 5px
.support-consult-message-in
	align-items: flex-start;
	.support-consult-message--block__time
		margin-left: 5px
.support-consult-message--wrappper
	display: flex;
	max-width: 65%;
.support-consult--messages
	display none
	overflow-y: auto;
	height: calc(100vh - 10px);
	margin-right: 5px;
	padding-bottom: 18px;
	padding-top: 18px

.support-consult-message--block
	background-color: #fff
	box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.2);
	border-radius: 15px 15px 15px 0px
	padding: 12px
.support-consult-message--block__top
	display flex
	justify-content: space-between
	align-items: center
	margin-bottom: 8px
.support-consult-message--block__name
	font-family: Os600
	font-size: 13px
	color #2F80ED
.support-consult-message--block__time
	font-family: Os600
	font-size: 12px
	color #D4D4D4
.support-consult-message--block__text
	font-family: Ops400
	font-size: 12px
	color #939393
	word-break: break-word;
.support-consult-message-out
	.support-consult-message--block__top
		flex-direction: row-reverse;
	.support-consult-message--block__name
		color #272727
.support-consult--messages::-webkit-scrollbar
	width: 5px;
	border-radius: 5px;
.support-consult--messages::-webkit-scrollbar-button,.support-consult--messages::-webkit-scrollbar-button
	display: block;
	width: 8px;
	height: 8px;
	background-color: transparent;
.support-consult--messages::-webkit-scrollbar-thumb
	border-radius: 10px;
	background-color: #2f80ed;
.support-consult--messages::-webkit-scrollbar-track
	margin-right: 5px;
.support-consult--messages::-webkit-scrollbar-track-piece
	border-radius: 10px;
	background: rgba(255,255,255,.05);
.mobile-sandwich-menu--button-m
	display none
.table-test--info
	width 100%
	margin-bottom 20px
	tr
		&:nth-child(2n - 1)
			background-color #F3F6FA
		td
			font-family 'Montserrat 400',sans-serif
			font-size 16px
			color rgba(39,39,39,0.7)
			font-weight 400
			padding 20px


	thead
		tr
			background-color #fff !important
			padding 0 20px
			th
				font-family 'Montserrat 400',sans-serif
				font-size 16px
				color rgba(39,39,39,0.7)
				font-weight 400
				padding 10px 20px



.table-color--red
	color #F43930 !important

.table-color--green
	color #4CA64B !important


.table-test--button
	display flex
	justify-content center
	align-items center
	font-family 'Cormorant 700',sans-serif
	font-size 18px
	color #2F80ED
	margin 0 auto
	width max-content
	height 54px
.complex-time--icon
	margin-right 15px
	.icon
		size(24px)
		fill #2F80ED
		margin-bottom 0
.complex-time--wrap
	display flex
	align-items center
	justify-content center
	margin-bottom 40px
.complex-time--count
	font-family 'Cormorant 700',sans-serif
	font-size 21px
	color #272727
.complex-main--block
	.main-services--item
		display flex
		flex-direction column
		justify-content space-between
		text-align center
		height 100%
	.services-main--desc
		margin-bottom 25px
	.main-button-color .icon-arrow-button
		fill transparent
		size(40px)
		margin-bottom 0
header.active
	box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.1);
	.header-bottom
		display none
	.header-top--callback
		color #272727
.support-consult-counts--text
	position relative
	color rgba(33,33,33,0.4)
	font-size 11px
	font-family 'Montserrat 500',sans-serif
	margin-right 15px
.popup-forgot-password--mobile
	display none
.about-company-name__left
	.img-style
		display none
.news-aside--list__js
	display none