section.section2.padding-deafault-50.pt-0
    .container
        .about-company-name.mb-50
            .about-company-name__left 
                .section-title.fs-30.mb-45 Компания ООО “Название”
                img.img-style(src="./static/img/general/imgz.png" alt="")
                .section-sub-desc.mb-20.font-weight-bold Нам есть чем гордиться!
                .section-desc-p.mb-30 За многие годы успешной работы мы выполнили более 3000 контрактов и получили более 3000 довольных клиентов из всех уголков планеты.
                    br 
                    br 
                    | Наши юристы – специалисты высокого уровня – постоянно совершенствуют свои профессиональные навыки. Наши постоянные партнеры - медицинские центры по г. Москве и Московской области, бюро переводов, центры тестирования по русскому языку - на протяжении работы зарекомендовали себя как надежные помощники и единомышленники.
            .about-company-name__right 
                img.img-style.d-n(src="./static/img/general/imgz.png" alt="")
        .section-title.fs-30.mb-45 Почему люди выбирают нас ?
        .section-desc-p.mb-30 Мы дорожим нашими клиентами, относимся к ним с уважением и заботой, ценим их время. Именно поэтому мы разработали целый комплекс мер, чтобы сделать обслуживание клиентов наиболее комфортным. Мы предлагаем своим клиентам индивидуальный график обслуживания, связь с менеджерами компании в режиме 24/7 до фактического получения разрешительных документов. 
        .section-sub-desc.blue-color.mb-30.font-italic При заключении договора нашим клиентам всегда предоставляется возможность отсрочки платежа 70%-30%.
        .about-company-name.mb-50
            .about-company-name__right 
                img.img-style.m-0(src="./static/img/general/imgz2.png" alt="")
            .about-company-name__left 
                .section-desc-p.mb-30 Мы гарантируем выполнение взятых на себя обязательств. Наши клиенты получают подготовленные документы точно в оговоренный срок.
                    br 
                    br 
                    | Мы с уважением относимся к нашим клиентам и благодарны им за оказанное доверие. А наши клиенты довольны качеством и стоимостью предоставляемых услуг.
                    br 
                    br 
                    | Наверное, поэтому за годы работы у нас появилось множество друзей из числа наших клиентов, приехавших в Россию из многих стран мира. Присоединяйтесь и вы к их числу, мы будем рады вам помочь.
        

        .col-xl-11.col-lg-11.m-0-auto.section-have-question--wrap
            .section-have-question__left(style="background-image:url('./static/img/general/bg3.jpg')")
                .section-title.section-title--white Остались вопросы?
                .section-have-question--text Приходите к нам в офис на консультацию:
                .section-have-question--address г. Москва, ул. Новослободская, дом 26, строение 1, 5 этаж, офис 559.4
                .section-have-question--text Записаться на консультацию можно:
                .section-have-question--contacts.mb-15
                    +icon('phone')
                    a(href="tel:89991234567") 8 (999) 123 45 67
                .section-have-question--contacts
                    +icon('email')
                    a(href="mailto:info@name.com") info@name.com
            form.section-have-question__right
                .form-title Свяжитесь с нами
                    span
                input.input-ur-forms.w-100.mb-30(type="text" placeholder="Имя")
                input.input-ur-forms.mask-phone.w-100.mb-40(type="text" placeholder="Телефон")
                button.main-button-color.mw-200.m-0-auto(type="submit") Отправить
                    +arrow('arrow-button')
        .section-title.mb-45.fs-26 Люди выбирают нас

        .section-why-people-c.row
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                .section-why-people-c__icon--wrap
                    .section-why-people-c__icon
                        img.section-why-people-c__img(src="./static/img/general/whypeople/map.svg")
                .section-why-people-c-name Лучшие эксперты в области миграционного права
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                .section-why-people-c__icon--wrap
                    .section-why-people-c__icon
                        img.section-why-people-c__img(src="./static/img/general/whypeople/earth.svg")
                .section-why-people-c-name Переводчики со всех языков мира
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                .section-why-people-c__icon--wrap
                    .section-why-people-c__icon
                        img.section-why-people-c__img(src="./static/img/general/whypeople/dip.svg")
                .section-why-people-c-name Сертифицированное тестирование
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                .section-why-people-c__icon--wrap
                    .section-why-people-c__icon
                        img.section-why-people-c__img(src="./static/img/general/whypeople/hand.svg")
                .section-why-people-c-name Высокая результативность 92,5 %
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                .section-why-people-c__icon--wrap
                    .section-why-people-c__icon
                        img.section-why-people-c__img(src="./static/img/general/whypeople/clock.svg")
                .section-why-people-c-name Высокая скорость выполнения поставленных задач
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                .section-why-people-c__icon--wrap
                    .section-why-people-c__icon
                        img.section-why-people-c__img(src="./static/img/general/whypeople/gua.svg")
                .section-why-people-c-name Политика кофиденциальности






            