include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		link(rel="stylesheet" type='text/css' href="static/css/main.css")

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
	body(class=pageClass)
		.wrapper
			include ../modules/header
			.content
				block content
				include ../popup/popup-auth
				include ../popup/popup-reg
				include ../popup/popup-restore
				include ../popup/popup-restore2
				include ../popup/popup-restore3
				include ../popup/popup-exam
				include ../popup/popup-chat-login
				include ../popup/popup-chat
				include ../popup/popup-test-go
				include ../popup/popup-docum
				include ../popup/popup-load-video
				include ../popup/popup-loaded-video
				include ../popup/popup-add-review
				include ../modules/support
				include ../popup/popup-restore-email
				include ../popup/popup-restore-ok
				include ../popup/popup-exam-reg-ok

			include ../modules/footer

		script(src="static/js/jquery.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/jquery-ui.js")
		script(src="static/js/jquery.hoverIntent.min.js")
		script(src="static/js/datepicker.ru-RU.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")
		script(src="static/js/main.js")
		//script.
		//	$(document).ready(function () {
		//		$(".ui-slider-handle").draggable({axis: "x"});
		//	});




		block script