#popup-restore2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.popup-w-570(role='document')
        form.modal-content
            .popup-header
                .popup-close--icon.close(data-dismiss="modal" aria-label="Close")
                    +icon('close')
                .form-title Восстановление пароля
                    span
                .popup-annotation-text.m-40px На телефон +7 999 *** ** 67 был отправлен код подтверждения, введите его ниже
            .popup-middle
                .popup-input-wrap.m-40px
                    input.input-ur-forms.mb-30.text-center.mask-code(type="text" placeholder="__ __ __ __")
                .main-button-color.mw-200.m-0-auto(data-toggle="modal" data-dismiss="modal" data-target="#popup-restore3") Продолжить
                    +arrow('arrow-button')
