#popup-chat.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.popup-w-870(role='document')
        .modal-content.modal-chat
            include ../modules/chat