#popup-exam-ok.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.popup-w-430(role='document')
        form.modal-content
            .popup-header
                .form-title Вы успешно записались на комплексный экзамен
                    span
            button.main-button-color.mw-200.m-0-auto Ok
                +arrow('arrow-button')