section.section2.padding-deafault-50
    .container
        .section-exam-main-wrap
            .col-xl-9.col-lg-9.col-md-6.col-sm-6.section-content.pl-0.pr-3
                .news-open--wrap 
                    .section-title.fs-30.mb-45 Памятка оформившим ВНЖ
                    .news-open--calendar
                        +icon('calendar')
                        span 25 июля 2020
                    .section-desc-p.mb-30 Eu urna eu platea hac ante augue interdum pharetra arcu. At magna erat dolor pellentesque mi montes, sit mauris. Cursus pulvinar auctor a pellentesque. Sagittis vulputate purus ultricies nulla sed non. Sit phasellus aliquam commodo cras. Dictumst neque amet, fringilla dictumst nam viverra egestas vel. Feugiat non enim imperdiet tellus metus, cursus purus nec tincidunt. Viverra fermentum, consequat aliquet eu volutpat odio imperdiet viverra. Tempor sed vitae, fringilla justo mus ac nulla. Molestie et sodales facilisis egestas viverra non enim senectus. Et.  
                    img.img-main.mb-60(src="./static/img/general/bg.jpg")
                    .section-title.fs-30.mb-45 Люди выбирают нас  
                    .section-desc-p.mb-30 Enim, nullam aliquet aliquet cras tincidunt viverra. Nisi nunc posuere maecenas id amet, commodo. Aenean magnis feugiat enim tortor quis amet pharetra. Consequat tortor accumsan enim quis. Malesuada nec accumsan, enim id euismod ut.
                        br 
                        br 
                        | Felis pellentesque enim mattis fermentum. Arcu nunc ultricies tempor aliquet adipiscing malesuada sit. Donec urna mi feugiat ornare. Hac id at elementum et non molestie aliquam dis. Laoreet ultrices massa et curabitur pharetra. Donec massa in in aliquam facilisis molestie quam quam. Sed gravida nunc dui ut fermentum fames lectus. Ornare libero, neque enim quam nisl curabitur.
                        br 
                        br 
                        | Elit ullamcorper sapien nascetur laoreet aliquam nibh praesent sed. Phasellus lectus sem est, pellentesque vel id non. Est sagittis sed turpis ullamcorper rhoncus aliquet egestas. Donec in ut sit orci quis ultrices. Volutpat morbi dolor, nulla nec. Aenean sit tempor, augue neque scelerisque adipiscing urna et. In orci urna sollicitudin nisl iaculis vitae tortor amet egestas. Volutpat quis nibh sed aliquam dolor curabitur facilisi. Vitae tincidunt nunc ullamcorper pretium vitae amet, netus sem pellentesque. Mollis imperdiet commodo consectetur volutpat, in magna. A neque euismod facilisis at hac viverra iaculis id. Feugiat rhoncus, viverra amet nibh libero, dignissim lectus massa. Est morbi risus, pretium nisi, nulla fusce commodo. Et dignissim amet cursus vitae leo. Mi urna nibh vel mattis nisl mattis nam viverra.
                        br 
                        br 
                        | Ipsum est eu nunc, placerat viverra neque. Malesuada vel massa rutrum pellentesque. Faucibus auctor est, facilisi mauris, amet, at et tincidunt tincidunt. Integer ipsum pulvinar ornare dapibus. Venenatis bibendum montes elit.

                    p.news-cursive-annotation.mb-40 Eu, justo, diam nisi vitae diam bibendum in. Porttitor parturient ullamcorper vestibulum nunc proin faucibus diam eu. Sed sem commodo ut lectus arcu, cum. Eget eu tempor vel in diam id arcu massa nullam placerat sed nibh.
                    .section-desc-p.mb-30 Lacus, leo interdum id sed sem et amet justo. Elit risus porttitor donec faucibus orci arcu accumsan proin. Et molestie ultrices enim eget id convallis. Euismod in rhoncus venenatis felis lobortis euismod dui. At lectus in eu ornare a. Mattis adipiscing ante nibh ac, porttitor. Sed condimentum eleifend sed netus purus laoreet leo. Vitae euismod eu morbi bibendum tellus est ultricies dui.
                    img.img-main.mb-60(src="./static/img/general/bg.jpg")
                    .section-desc-p.mb-30 Metus, in non risus orci vitae sit. Nibh arcu enim, arcu quam vestibulum. Lectus aliquet condimentum amet mauris id lobortis massa faucibus. Luctus morbi lobortis ultrices aenean scelerisque orci. Nibh est nec pellentesque nunc accumsan. Urna, faucibus lacus, maecenas cum mattis eget habitant eget convallis. Sed tristique gravida maecenas lacus, consequat tellus vel posuere a. Ultrices malesuada placerat scelerisque faucibus condimentum neque. Ultricies lacus magna orci ante vel eleifend velit gravida et. Aliquam quam proin eget consequat sed. Lectus vitae viverra mi, euismod. Metus ac, et, morbi ornare varius
                        br 
                        br 
                        |  Lectus vitae viverra mi, euismod. Metus ac, et, morbi ornare varius phasellus quam viverra orci. Et donec convallis pulvinar nullam sagittis dolor purus. Molestie nec eget porttitor tincidunt dignissim. Enim pellentesque massa dictum viverra elementum lobortis leo vulputate at. Consequat amet mauris erat elit. Quis condimentum porta erat varius eu. Tincidunt justo sed mattis mauris leo dignissim sodales. Dignissim eu tincidunt sed proin fermentum, felis. Amet interdum lectus blandit morbi ornare dolor tellus mi.

                    .mobile-news-articles--wrap.side-toggle-exam--list--wrapper
                        .news-aside--title Похожие статьи
                        .news-aside--list.news-aside--list__js
                            .news-aside--item
                                .news-aside--img(style="background-image:url('./static/img/content/blog/1.jpg')")
                                .news-aside--info
                                    .news-aside--name Как оформить пенсию в РФ
                                    .news-aside--text Nibh sem non ipsum vitae cursus cursus amet. Nunc pretium quis elit tellus nibh donec urna, proin lobortis. Cras amet pellentesque...
                                    a.news-aside--link(href="/") Подробнее
                            .news-aside--item
                                .news-aside--img(style="background-image:url('./static/img/content/blog/2.jpg')")
                                .news-aside--info
                                    .news-aside--name Как оформить пенсию в РФ
                                    .news-aside--text Nibh sem non ipsum vitae cursus cursus amet. Nunc pretium quis elit tellus nibh donec urna, proin lobortis. Cras amet pellentesque...
                                    a.news-aside--link(href="/") Подробнее
                            .news-aside--item
                                .news-aside--img(style="background-image:url('./static/img/content/blog/3.jpg')")
                                .news-aside--info
                                    .news-aside--name Как оформить пенсию в РФ
                                    .news-aside--text Nibh sem non ipsum vitae cursus cursus amet. Nunc pretium quis elit tellus nibh donec urna, proin lobortis. Cras amet pellentesque...
                                    a.news-aside--link(href="/") Подробнее
                        a.news-aside-all--link(href="/") Все статьи
                    .comments-wrap
                        .comments-title Ваш комментарий:
                        form.comments-main--stay 
                            .comment-item--wrap
                                .comment-item
                                    .comment-item--img(style="background-image:url('./static/img/general/ava2.png')")
                                    .comment-item--info 
                                        .comment-item--name.mb-0 Лев Лукин   
                            textarea.comment-textarea.cb-20(cols="5" rows="5" placeholder="Комментарий...")    
                            button.comment-submit.mb-60(type="submit") Оставить
                        .comments-title Комментарии:
                        .comments-list 
                            .comment-item--wrap
                                .comment-item
                                    .comment-item--img(style="background-image:url('./static/img/general/ava2.png')")
                                    .comment-item--info 
                                        .comment-item--name Лев Лукин   
                                        .comment-item--date 11 Июня, 2020 | 12:42 
                                .comment-item--text Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget. Ullamcorper et id vitae vel, venenatis, elit, ullamcorper. Nunc, in eget diam neque diam nisl ut aliquet. Vestibulum orci pellentesque ligula aenean enim ullamcorper.        
                                .comment-item--toggle--wrap
                                    .comment-item--toggle 
                                        .comment-item--toggle__text Комментарии #[span (2)]
                                        +icon('arrow-down')
                                    .comment-items--toggle-show    
                                        textarea.comment-textarea(cols="5" rows="3" placeholder="Ваш комментарий...")
                                        .comment-items--depth2
                                            .comment-item--wrap
                                                .comment-item
                                                    .comment-item--img(style="background-image:url('./static/img/general/ava2.png')")
                                                    .comment-item--info 
                                                        .comment-item--name Лев Лукин   
                                                        .comment-item--date 11 Июня, 2020 | 12:42 
                                                .comment-item--text Turpis metus purus blandit semper. 
                                            .comment-item--wrap
                                                .comment-item
                                                    .comment-item--img(style="background-image:url('./static/img/general/ava2.png')")
                                                    .comment-item--info 
                                                        .comment-item--name Лев Лукин   
                                                        .comment-item--date 11 Июня, 2020 | 12:42 
                                                .comment-item--text Turpis metus purus blandit semper. 
                            .comment-item--wrap
                                .comment-item
                                    .comment-item--img(style="background-image:url('./static/img/general/ava2.png')")
                                    .comment-item--info 
                                        .comment-item--name Лев Лукин   
                                        .comment-item--date 11 Июня, 2020 | 12:42 
                                .comment-item--text Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget. Ullamcorper et id vitae vel, venenatis, elit, ullamcorper. Nunc, in eget diam neque diam nisl ut aliquet. Vestibulum orci pellentesque ligula aenean enim ullamcorper.        
                                .comment-item--toggle--wrap
                                    .comment-item--toggle 
                                        .comment-item--toggle__text Комментарии #[span (2)]
                                        +icon('arrow-down')
                                    .comment-items--toggle-show    
                                        textarea.comment-textarea(cols="5" rows="3" placeholder="Ваш комментарий...")
                                        .comment-items--depth2
                                            .comment-item--wrap
                                                .comment-item
                                                    .comment-item--img(style="background-image:url('./static/img/general/ava2.png')")
                                                    .comment-item--info 
                                                        .comment-item--name Лев Лукин   
                                                        .comment-item--date 11 Июня, 2020 | 12:42 
                                                .comment-item--text Turpis metus purus blandit semper. 
                                            .comment-item--wrap
                                                .comment-item
                                                    .comment-item--img(style="background-image:url('./static/img/general/ava2.png')")
                                                    .comment-item--info 
                                                        .comment-item--name Лев Лукин   
                                                        .comment-item--date 11 Июня, 2020 | 12:42 
                                                .comment-item--text Turpis metus purus blandit semper. 
                            .comment-item--wrap
                                .comment-item
                                    .comment-item--img(style="background-image:url('./static/img/general/ava2.png')")
                                    .comment-item--info 
                                        .comment-item--name Лев Лукин   
                                        .comment-item--date 11 Июня, 2020 | 12:42 
                                .comment-item--text Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget. Ullamcorper et id vitae vel, venenatis, elit, ullamcorper. Nunc, in eget diam neque diam nisl ut aliquet. Vestibulum orci pellentesque ligula aenean enim ullamcorper.        
                                .comment-item--toggle--wrap
                                    .comment-item--toggle 
                                        .comment-item--toggle__text Комментарии #[span (2)]
                                        +icon('arrow-down')
                                    .comment-items--toggle-show    
                                        textarea.comment-textarea(cols="5" rows="3" placeholder="Ваш комментарий...")
                                        .comment-items--depth2
                                            .comment-item--wrap
                                                .comment-item
                                                    .comment-item--img(style="background-image:url('./static/img/general/ava2.png')")
                                                    .comment-item--info 
                                                        .comment-item--name Лев Лукин   
                                                        .comment-item--date 11 Июня, 2020 | 12:42 
                                                .comment-item--text Turpis metus purus blandit semper. 
                                            .comment-item--wrap
                                                .comment-item
                                                    .comment-item--img(style="background-image:url('./static/img/general/ava2.png')")
                                                    .comment-item--info 
                                                        .comment-item--name Лев Лукин   
                                                        .comment-item--date 11 Июня, 2020 | 12:42 
                                                .comment-item--text Turpis metus purus blandit semper.                                             
            .col-xl-3.col-lg-3.col-md-6.col-sm-6.section-sidebar.pl-3.pr-0
                .side-toggle-exam--list--wrapper
                    .news-aside--title Похожие статьи
                    .news-aside--list 
                        .news-aside--item 
                            .news-aside--img(style="background-image:url('./static/img/content/blog/1.jpg')") 
                            .news-aside--info
                                .news-aside--name Как оформить пенсию в РФ
                                .news-aside--text Nibh sem non ipsum vitae cursus cursus amet. Nunc pretium quis elit tellus nibh donec urna, proin lobortis. Cras amet pellentesque...
                                a.news-aside--link(href="/") Подробнее
                        .news-aside--item 
                            .news-aside--img(style="background-image:url('./static/img/content/blog/2.jpg')") 
                            .news-aside--info
                                .news-aside--name Как оформить пенсию в РФ
                                .news-aside--text Nibh sem non ipsum vitae cursus cursus amet. Nunc pretium quis elit tellus nibh donec urna, proin lobortis. Cras amet pellentesque...
                                a.news-aside--link(href="/") Подробнее
                        .news-aside--item 
                            .news-aside--img(style="background-image:url('./static/img/content/blog/3.jpg')") 
                            .news-aside--info
                                .news-aside--name Как оформить пенсию в РФ
                                .news-aside--text Nibh sem non ipsum vitae cursus cursus amet. Nunc pretium quis elit tellus nibh donec urna, proin lobortis. Cras amet pellentesque...
                                a.news-aside--link(href="/") Подробнее 
                    a.news-aside-all--link(href="/") Все статьи                        