section.section-exam-main
    .container
        .section-exam-main-wrap
            .col-xl-3.col-lg-3.col-md-6.col-sm-6.section-sidebar
                .side-toggle-exam--list
                    .side-toggle-exam--wrap
                        .side-toggle-exam--title Сопутствующие услуги
                        .side-toggle-exam--arrow
                            +icon('arrow-down')
                    .side-toggle-list--attr
                        a.side-toggle-item--attr(href="/") Перевод документов Сертификат по русскому языку
                        a.side-toggle-item--attr(href="/") Сертификат по русскому языку

                .side-button-exam.mb-20 Оставить заявку
                .side-button-exam.mb-20(data-toggle="modal" data-target="#popup-chat-login")
                    +icon('help')
                    span Онлайн чат
                    .button-attention 1

            .col-xl-9.col-lg-9.col-md-12.col-sm-12.section-content
                //include ../../modules/chat2
                .section-title.fs-30.mb-45 Об экзамене подробнее
                p.section-desc-p.mb-30 ТРКИ – это экзамен по русскому как иностранному. Тестирование делится на 6 уровней владения русским языком. Его необходимо сдавать тем, кто желает получить гражданство Российской Федерации, поступить в российский ВУЗ, получить диплом по окончании университета.
                    br
                    br
                    | При успешном прохождении теста элементарного уровня выдается соответствующий сертификат, подтверждающий общее владение русским языком как иностранным и свидетельствует, что кандидат способен удовлетворить элементарные коммуникативные потребности в ограниченном числе ситуаций бытовой, социально-культурной и учебной сфер общения. Сертификат данного уровня свидетельствует о наличии необходимой и достаточной базы для дальнейшего изучения русского языка.
                .section-info-blocks-wrap.mb-70
                    .section-info-block--left
                        .section-sub-desc.mb-20.ff-600 ПРОДОЛЖИТЕЛЬНОСТЬ ЭКЗАМЕНА
                        .section-romb--wrap
                            ul.section-romb-list.mb-30
                                li Продолжительность экзамена: #[span.bold-desc 50 мин.]
                                li Чтение: #[span.bold-desc 50 мин.]
                                li Аудирование: #[span.bold-desc 30 мин.]
                                li Письмо: #[span.bold-desc 50 мин.]
                                li Говорение: #[span.bold-desc 30 мин.]
                        .section-sub-desc.ff-600.blue-color ОБЩАЯ ПРОДОЛЖИТЕЛЬНОСТЬ: 3 Ч. 30 МИН
                    img.section-romb-img(src="./static/img/general/sert2.png")
                .section-block-attention-border.mb-60
                    p Тестирование по русскому языку как иностранному языку основано на единой сертификационной системе определения уровня владения практическим русским языком и построено с учетом целей его использования, навыков и умений в употреблении языковых средств для реализации определенных тактик речевого поведения в основных видах речевой деятельности.
                    .section-block-attention-border__icon
                        +icon('attention')
                .section-title.fs-30.mb-45 Перечень запрещенных во время тестирования предметов
                p.section-desc-p.mb-30 При выполнении отдельных тестовых заданий разрешается использование толкового словаря, который приносится с собой. Не забудьте принести паспорт и ручку. Перед началом теста внимательно послушайте задание, и лишь потом начините его выполнение. Напоминаем, что Центр помощи мигрантам «МИР» содержит в своем штабе специалистов и профессиональных учителей, которые занимаются подготовкой иностранных граждан к тестированиям, поэтому если вы не уверены в своих силах – запишитесь на консультацию к нашим специалистам.
                ul.section-romb-list.mb-40
                    li учебники и любая литература по русскому языку;
                    li тетради и бумага;
                    li магнитофоны, сотовые телефоны;
                    li фотоаппараты и другая записывающая техника.
                .section-sub-desc.mb-20.ff-600 ПОЛЕЗНЫЕ МАТЕРИАЛЫ
                a.section-great-files.mb-20(href="/" download)
                    .section-great-files--icon
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 0C10.35 0 9 1.35 9 3V45C9 46.65 10.35 48 12 48H42C43.65 48 45 46.65 45 45V12L33 0H12Z" fill="#E2E5E7"/>
                        <path d="M39 39C39 39.825 38.325 40.5 37.5 40.5H4.5C3.675 40.5 3 39.825 3 39V24C3 23.175 3.675 22.5 4.5 22.5H37.5C38.325 22.5 39 23.175 39 24V39Z" fill="#F15642"/>
                        <path d="M37.5 40.5H9V42H37.5C38.325 42 39 41.325 39 40.5V39C39 39.825 38.325 40.5 37.5 40.5Z" fill="#CAD1D8"/>
                        <path d="M18.4364 35.9999C18.0404 35.9999 17.6084 35.7839 17.6084 35.2574V28.4444C17.6084 28.0139 18.0404 27.7004 18.4364 27.7004H21.1829C26.6639 27.7004 26.5439 35.9999 21.2909 35.9999H18.4364ZM19.1924 29.1644V34.5374H21.1829C24.4214 34.5374 24.5654 29.1644 21.1829 29.1644H19.1924Z" fill="white"/>
                        <path d="M28.487 29.2605V31.167H31.5455C31.9775 31.167 32.4095 31.599 32.4095 32.0175C32.4095 32.4135 31.9775 32.7375 31.5455 32.7375H28.487V35.256C28.487 35.676 28.1885 35.9985 27.7685 35.9985C27.2405 35.9985 26.918 35.676 26.918 35.256V28.443C26.918 28.0125 27.242 27.699 27.7685 27.699H31.979C32.507 27.699 32.819 28.0125 32.819 28.443C32.819 28.827 32.507 29.259 31.979 29.259H28.487V29.2605Z" fill="white"/>
                        <path d="M9.53809 28.4205C9.53809 28.0245 9.85009 27.5925 10.3526 27.5925H13.1231C14.6831 27.5925 16.0871 28.6365 16.0871 30.6375C16.0871 32.5335 14.6831 33.5895 13.1231 33.5895H11.1206V35.1735C11.1206 35.7015 10.7846 36 10.3526 36C9.95659 36 9.53809 35.7015 9.53809 35.1735V28.4205ZM11.1206 29.103V32.091H13.1231C13.9271 32.091 14.5631 31.3815 14.5631 30.6375C14.5631 29.799 13.9271 29.103 13.1231 29.103H11.1206Z" fill="white"/>
                        <path d="M45 21L36 12H45V21Z" fill="#CAD1D8"/>
                        <path d="M36 12H45L33 0V9C33 10.65 34.35 12 36 12Z" fill="#B0B7BD"/>
                        </svg>

                    span Типовой тест ТРКИ, (Элементарный уровень, ТЭУ/А1)
                a.section-great-files.mb-60(href="/" download)
                    .section-great-files--icon
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 0C10.35 0 9 1.35 9 3V45C9 46.65 10.35 48 12 48H42C43.65 48 45 46.65 45 45V12L33 0H12Z" fill="#E2E5E7"/>
                        <path d="M39 39C39 39.825 38.325 40.5 37.5 40.5H4.5C3.675 40.5 3 39.825 3 39V24C3 23.175 3.675 22.5 4.5 22.5H37.5C38.325 22.5 39 23.175 39 24V39Z" fill="#F15642"/>
                        <path d="M37.5 40.5H9V42H37.5C38.325 42 39 41.325 39 40.5V39C39 39.825 38.325 40.5 37.5 40.5Z" fill="#CAD1D8"/>
                        <path d="M18.4364 35.9999C18.0404 35.9999 17.6084 35.7839 17.6084 35.2574V28.4444C17.6084 28.0139 18.0404 27.7004 18.4364 27.7004H21.1829C26.6639 27.7004 26.5439 35.9999 21.2909 35.9999H18.4364ZM19.1924 29.1644V34.5374H21.1829C24.4214 34.5374 24.5654 29.1644 21.1829 29.1644H19.1924Z" fill="white"/>
                        <path d="M28.487 29.2605V31.167H31.5455C31.9775 31.167 32.4095 31.599 32.4095 32.0175C32.4095 32.4135 31.9775 32.7375 31.5455 32.7375H28.487V35.256C28.487 35.676 28.1885 35.9985 27.7685 35.9985C27.2405 35.9985 26.918 35.676 26.918 35.256V28.443C26.918 28.0125 27.242 27.699 27.7685 27.699H31.979C32.507 27.699 32.819 28.0125 32.819 28.443C32.819 28.827 32.507 29.259 31.979 29.259H28.487V29.2605Z" fill="white"/>
                        <path d="M9.53809 28.4205C9.53809 28.0245 9.85009 27.5925 10.3526 27.5925H13.1231C14.6831 27.5925 16.0871 28.6365 16.0871 30.6375C16.0871 32.5335 14.6831 33.5895 13.1231 33.5895H11.1206V35.1735C11.1206 35.7015 10.7846 36 10.3526 36C9.95659 36 9.53809 35.7015 9.53809 35.1735V28.4205ZM11.1206 29.103V32.091H13.1231C13.9271 32.091 14.5631 31.3815 14.5631 30.6375C14.5631 29.799 13.9271 29.103 13.1231 29.103H11.1206Z" fill="white"/>
                        <path d="M45 21L36 12H45V21Z" fill="#CAD1D8"/>
                        <path d="M36 12H45L33 0V9C33 10.65 34.35 12 36 12Z" fill="#B0B7BD"/>
                        </svg>

                    span Типовой тест ТРКИ, (Элементарный уровень, ТЭУ/А1) СПБГУ
                .section-title.fs-30.mb-45 Тестирование включает в себя
                .section-test-block--wrap
                    ul.test-exam-attr--list
                        li.test-exam-attr--item.mb-30 Чтение
                            .test-exam-attr--item__desc Уметь читать и понимать простые предложения, в частности, в объявлениях, на плакатах, понимать основную и дополнительную информацию небольшого адаптированного текста.
                        li.test-exam-attr--item.mb-30 Письмо
                            .test-exam-attr--item__desc Уметь написать текст о себе, друзьях, семье, рабочем дне, своем свободном времени (не менее 7 фраз по предложенным вопросам).
                        li.test-exam-attr--item.mb-30 Аудирование
                            .test-exam-attr--item__desc Уметь понимать основную информацию (тему, основное содержание и коммуникативные намерения) коротких диалогов и монологов в ситуациях повседневного общения.
                        li.test-exam-attr--item.mb-30 Говорение
                            .test-exam-attr--item__desc Уметь написать текст о себе, друзьях, семье, рабочем дне, своем свободном времени (не менее 7 фраз по предложенным вопросам).
                        li.test-exam-attr--item.mb-30 Лексико-грамматические навыки
                            .test-exam-attr--item__desc Уметь написать текст о себе, друзьях, семье, рабочем дне, своем свободном времени (не менее 7 фраз по предложенным вопросам).


                .section-have-question--wrap
                    .section-have-question__left(style="background-image:url('./static/img/general/bg3.jpg')")
                        .section-title.section-title--white Остались вопросы?
                        .section-have-question--text Приходите к нам в офис на консультацию:
                        .section-have-question--address г. Москва, ул. Новослободская, дом 26, строение 1, 5 этаж, офис 559.4
                        .section-have-question--text Записаться на консультацию можно:
                        .section-have-question--contacts.mb-15
                            +icon('phone')
                            a(href="tel:89991234567") 8 (999) 123 45 67
                        .section-have-question--contacts
                            +icon('email')
                            a(href="mailto:info@name.com") info@name.com
                    form.section-have-question__right
                        .form-title Свяжитесь с нами
                            span
                        input.input-ur-forms.w-100.mb-30(type="text" placeholder="Имя")
                        input.input-ur-forms.mask-phone.w-100.mb-40(type="text" placeholder="Телефон")
                        button.main-button-color.mw-200.m-0-auto(type="submit") Отправить
                            +arrow('arrow-button')
                .section-title.mb-45.fs-26 Люди выбирают нас
                .section-desc-p.mb-60 Выбрав нашу компанию для консультации, вы получите профессиональную юридическую помощь в сфере миграционного законодательства.
                    br
                    br
                    | Наши специалисты проанализируют вашу ситуацию на основании имеющихся документов, дадут правовую консультацию в области миграционного законодательства России, смоделируют возможные способы приобретения гражданства РФ, подготовят все необходимые документы.
                .section-why-people-c.row
                    .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                        .section-why-people-c__icon--wrap
                            .section-why-people-c__icon
                                img.section-why-people-c__img(src="./static/img/general/whypeople/map.svg")
                        .section-why-people-c-name Лучшие эксперты в области миграционного права
                    .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                        .section-why-people-c__icon--wrap
                            .section-why-people-c__icon
                                img.section-why-people-c__img(src="./static/img/general/whypeople/earth.svg")
                        .section-why-people-c-name Переводчики со всех языков мира
                    .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                        .section-why-people-c__icon--wrap
                            .section-why-people-c__icon
                                img.section-why-people-c__img(src="./static/img/general/whypeople/dip.svg")
                        .section-why-people-c-name Сертифицированное тестирование
                    .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                        .section-why-people-c__icon--wrap
                            .section-why-people-c__icon
                                img.section-why-people-c__img(src="./static/img/general/whypeople/hand.svg")
                        .section-why-people-c-name Высокая результативность 92,5 %
                    .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                        .section-why-people-c__icon--wrap
                            .section-why-people-c__icon
                                img.section-why-people-c__img(src="./static/img/general/whypeople/clock.svg")
                        .section-why-people-c-name Высокая скорость выполнения поставленных задач
                    .col-xl-4.col-lg-4.col-md-6.col-sm-6.section-why-people-c__item
                        .section-why-people-c__icon--wrap
                            .section-why-people-c__icon
                                img.section-why-people-c__img(src="./static/img/general/whypeople/gua.svg")
                        .section-why-people-c-name Политика кофиденциальности
                .section-content-block--item.scbi-2.mb-70
                    .section-content-block--item__left
                        .form-title.mb-20 Цены на услуги компании
                            span
                        .section-content-block__desc Текущие цены на услуги компании можно уточнить #[a(href="/") здесь] или позвонив в наш офис:
                        .section-content-block__phone.mb-20
                            +icon('phone')
                            a(href="tel:89991234567") 8 (999) 123 45 67
                        a.section-price-link(href="/") Прайс-лист
                    .section-content-block--item__right
                        img.section-content-block--img(src="./static/img/content/man.png")

        .section-reviews-content
            .section-title--wrap
                .section-title.mb-0 Отзывы наших клиентов
                .review-tabs-buttons
                    .review-tab-button-text.tabs-buttons.active(data-tab="review-text-selector") Отзывы
                    .review-tab-button-video.tabs-buttons(data-tab="review-video-selector") Видео-отзывы
            .reveiw-tabs-list
                .reveiw-tab-text.tabs-content.review-text-selector.active
                    .reveiw-tab-text--wrap
                        .reveiw-tab-text--item
                            .review-tab-text__img(style="background-image:url('./static/img/general/img1.jpg')")
                            .reveiw-tab-text__content
                                +icon('dd')
                                .reveiw-tab-text__title ЗАО “ДЕЗ – Сервис”
                                .reveiw-tab-text__desc Медицинский сервис ЗАО «ДЭЗ-Сервис» выражает благодарность юристам ООО «Право и Статус» и лично генеральному директору Оксане Владимировне Сердечной.
                        .reveiw-tab-text--item
                            .review-tab-text__img(style="background-image:url('./static/img/general/img2.jpg')")
                            .reveiw-tab-text__content
                                +icon('dd')
                                .reveiw-tab-text__title ООО “ГСКБВ”
                                .reveiw-tab-text__desc Готовы рекомендовать Вашу компанию как надежного поставщика юридических услуг и ответственного партнера.
                .reveiw-tab-video.review-video-selector.tabs-content
                    .index-video-slider--wrapper--mobile
                        .index-video-slider-mobile
                            a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                                .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img2.png')")
                                .icon-preload
                                    +icon('played')
                            a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                                .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img.png')")
                                .icon-preload
                                    +icon('played')
                            a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                                .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img2.png')")
                                .icon-preload
                                    +icon('played')
                            a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                                .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img.png')")
                                .icon-preload
                                    +icon('played')
                            a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                                .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img2.png')")
                                .icon-preload
                                    +icon('played')


                    .index-video-slider--wrapper
                        .index-video-slider
                            a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                                .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img2.png')")
                                .icon-preload
                                    +icon('played')
                            a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                                .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img.png')")
                                .icon-preload
                                    +icon('played')
                            a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                                .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img2.png')")
                                .icon-preload
                                    +icon('played')
                            a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                                .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img.png')")
                                .icon-preload
                                    +icon('played')
                            a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                                .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img2.png')")
                                .icon-preload
                                    +icon('played')
                        .index-video-slider-arrow
                            .index-video-slider--prev
                                +icon('left-arrow')
                            .index-video-slider--next
                                +icon('right-arrow')
            a.main-button-color.mw-200.m-0-auto(href="/") Все отзывы
                +arrow('arrow-button')
        include ../index/section6
        include ../index/section7