section.section-1.main-section(style="background-image:url('./static/img/general/bg.jpg')")
	.container
		.main-block--wrap
			.main-block--left
				h1.main-tittle(data-toggle="modal" data-target="#popup-test-info") Оформление вида на жительство
				p.main-desc Proin sagittis, aliquam risus lectus ornare sed. Feugiat interdum faucibus.
				.main-button-price
					a.main-button-transparent.mw-200(data-toggle="modal" data-target="#popup-exam-reg") Записаться
						+arrow('arrow-button')
					.main-price ~ от 28 500 ₽

			.main-block--right
				.main-block--social
					a(href="/")
						+icon('facebook')
					a(href="/")
						+icon('twitter')
					a(href="/")
						+icon('whatsapp')
		.js-index-slider--container
			.js-index-slider
				a.content-item-ur(href="/")
					.content-item-ur__img(style="background-image:url('./static/img/content/slider/im1.jpg')")
					.content-item-ur__title Гражданство РФ
					.content-item-ur__desc Eget luctus sit diam consectetur sed aliquet. Mi mauris maecenas odio.
				a.content-item-ur(href="/")
					.content-item-ur__img(style="background-image:url('./static/img/content/slider/im2.jpg')")
					.content-item-ur__title Оформление РВП
					.content-item-ur__desc Eget luctus sit diam consectetur sed aliquet. Mi mauris maecenas odio.
				a.content-item-ur(href="/")
					.content-item-ur__img(style="background-image:url('./static/img/content/slider/im3.jpg')")
					.content-item-ur__title Оформление ВНЖ
					.content-item-ur__desc Eget luctus sit diam consectetur sed aliquet. Mi mauris maecenas odio.
				a.content-item-ur(href="/")
					.content-item-ur__img(style="background-image:url('./static/img/content/slider/im4.jpg')")
					.content-item-ur__title Получение патента
					.content-item-ur__desc Eget luctus sit diam consectetur sed aliquet. Mi mauris maecenas odio.
				a.content-item-ur(href="/")
					.content-item-ur__img(style="background-image:url('./static/img/content/slider/im1.jpg')")
					.content-item-ur__title Гражданство РФ
					.content-item-ur__desc Eget luctus sit diam consectetur sed aliquet. Mi mauris maecenas odio.
			.js-slider-arrows
				.js-index-slider--prev.arrows-slider
					+icon('prev')
				.js-index-slider--next.arrows-slider
					+icon('next')



