section.section6.padding-deafault-50
    .container
        .section-title--wrap.mb-50.media-ml-15
            .section-title.mb-0 Наш блог
            .blog-title-buttons
                .blog-button-item.tabs-buttons(data-tab="blog-all") Все
                .blog-button-item.tabs-buttons(data-tab="blog-articles") Статьи
                .blog-button-item.tabs-buttons(data-tab="blog-news") Новости
        .blog-content-tabs--wrap
            .blog-content-tab--item.tabs-content.blog-all.active
                .blog-articles-wrap.row
                    .col-xl-4.col-lg-4.col-md-6.col-sm-12.blog-article--item--wrap
                        .blog-article--item
                            .blog-article-date
                                +icon('calendar')
                                span 28 июля 2020
                            .blog-article-img(style="background-image:url('./static/img/content/blog/1.jpg')")
                            .blog-article-content
                                .blog-article-title Памятка оформившим РВП
                                .blog-article-desc Dolor nullam ipsum venenatis feugiat semper etiam venenatis faucibus. Ullamcorper ultricies egestas varius ut nulla tortor. Lobortis nec...
                                a.blog-article-link(href="/") Подробнее
                    .col-xl-4.col-lg-4.col-md-6.col-sm-12.blog-article--item--wrap
                        .blog-article--item
                            .blog-article-date
                                +icon('calendar')
                                span 28 июля 2020
                            .blog-article-img(style="background-image:url('./static/img/content/blog/2.jpg')")
                            .blog-article-content
                                .blog-article-title Памятка оформившим РВП
                                .blog-article-desc Dolor nullam ipsum venenatis feugiat semper etiam venenatis faucibus. Ullamcorper ultricies egestas varius ut nulla tortor. Lobortis nec...
                                a.blog-article-link(href="/") Подробнее
                    .col-xl-4.col-lg-4.col-md-6.col-sm-12.blog-article--item--wrap
                        .blog-article--item
                            .blog-article-date
                                +icon('calendar')
                                span 28 июля 2020
                            .blog-article-img(style="background-image:url('./static/img/content/blog/3.jpg')")
                            .blog-article-content
                                .blog-article-title Памятка оформившим РВП
                                .blog-article-desc Dolor nullam ipsum venenatis feugiat semper etiam venenatis faucibus. Ullamcorper ultricies egestas varius ut nulla tortor. Lobortis nec...
                                a.blog-article-link(href="/") Подробнее
            .blog-content-tab--item.tabs-content.blog-articles
                .blog-articles-wrap.row
                    .col-xl-4.col-lg-4.col-md-6.col-sm-12.blog-article--item--wrap
                        .blog-article--item
                            .blog-article-date
                                +icon('calendar')
                                span 28 июля 2020
                            .blog-article-img(style="background-image:url('./static/img/content/blog/1.jpg')")
                            .blog-article-content
                                .blog-article-title Памятка оформившим РВП
                                .blog-article-desc Dolor nullam ipsum venenatis feugiat semper etiam venenatis faucibus. Ullamcorper ultricies egestas varius ut nulla tortor. Lobortis nec...
                                a.blog-article-link(href="/") Подробнее
            .blog-content-tab--item.tabs-content.blog-news
                .blog-articles-wrap.row
                    .col-xl-4.col-lg-4.col-md-6.col-sm-12.blog-article--item--wrap
                        .blog-article--item
                            .blog-article-date
                                +icon('calendar')
                                span 28 июля 2020
                            .blog-article-img(style="background-image:url('./static/img/content/blog/1.jpg')")
                            .blog-article-content
                                .blog-article-title Памятка оформившим РВП
                                .blog-article-desc Dolor nullam ipsum venenatis feugiat semper etiam venenatis faucibus. Ullamcorper ultricies egestas varius ut nulla tortor. Lobortis nec...
                                a.blog-article-link(href="/") Подробнее



