section.section2.padding-deafault-50
    .container
        .section-title Основные направления нашей деятельности
        .main-services--list.row
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.main-services--item--wrap
                .main-services--item
                    +icon('time')
                    .main-services--title Документы для рвп
                    ul.main-services--list2
                        li.main-services--item2 Правовые консультации
                        li.main-services--item2 Заполнение анкет
                        li.main-services--item2 Переводы документов
                        li.main-services--item2 Нотариальное заверение
                        li.main-services--item2 Анализ документов
                        li.main-services--item2 Медицинский осмотр
                        li.main-services--item2 Сертификат по русскому языку
                    a.main-services--link(href="/") Подробнее
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.main-services--item--wrap
                .main-services--item
                    +icon('home')
                    .main-services--title Документы для вжн
                    ul.main-services--list2
                        li.main-services--item2 Правовые консультации
                        li.main-services--item2 Заполнение анкет
                        li.main-services--item2 Переводы документов
                        li.main-services--item2 Нотариальное заверение
                        li.main-services--item2 Анализ документов
                        li.main-services--item2 Медицинский осмотр
                        li.main-services--item2 Сертификат по русскому языку
                    a.main-services--link(href="/") Подробнее
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.main-services--item--wrap
                .main-services--item
                    +icon('passport')
                    .main-services--title Документы для гражданства рф
                    ul.main-services--list2
                        li.main-services--item2 Правовые консультации
                        li.main-services--item2 Заполнение анкет
                        li.main-services--item2 Переводы документов
                        li.main-services--item2 Нотариальное заверение
                        li.main-services--item2 Анализ документов
                        li.main-services--item2 Медицинский осмотр
                        li.main-services--item2 Сертификат по русскому языку
                    a.main-services--link(href="/") Подробнее
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.main-services--item--wrap
                .main-services--item
                    +icon('translation')
                    .main-services--title Документы для нря
                    ul.main-services--list2
                        li.main-services--item2 Правовые консультации
                        li.main-services--item2 Заполнение анкет
                        li.main-services--item2 Переводы документов
                        li.main-services--item2 Нотариальное заверение
                        li.main-services--item2 Анализ документов
                        li.main-services--item2 Медицинский осмотр
                        li.main-services--item2 Сертификат по русскому языку
                    a.main-services--link(href="/") Подробнее
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.main-services--item--wrap
                .main-services--item
                    +icon('files')
                    .main-services--title Сопутствующие услуги
                    ul.main-services--list2
                        li.main-services--item2 Правовые консультации
                        li.main-services--item2 Заполнение анкет
                        li.main-services--item2 Переводы документов
                        li.main-services--item2 Нотариальное заверение
                        li.main-services--item2 Анализ документов
                        li.main-services--item2 Медицинский осмотр
                        li.main-services--item2 Сертификат по русскому языку
                    a.main-services--link(href="/") Подробнее
            .col-xl-4.col-lg-4.col-md-6.col-sm-6.main-services--item--wrap
                .main-services--item
                    +icon('business')
                    .main-services--title Консультация юриста
                    ul.main-services--list2
                        li.main-services--item2 Правовые консультации
                        li.main-services--item2 Заполнение анкет
                        li.main-services--item2 Переводы документов
                        li.main-services--item2 Нотариальное заверение
                        li.main-services--item2 Анализ документов
                        li.main-services--item2 Медицинский осмотр
                        li.main-services--item2 Сертификат по русскому языку
                    a.main-services--link(href="/") Подробнее
        .main--list--slider-dots