section.section3.padding-deafault-50.pt-0
    .container
        .services-main--block
            .section-title Основные услуги
            .services-main--list.row
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.main-services--item--wrap
                    .main-services--item
                        +icon('time')
                        .main-services--title Временное проживание
                        p.services-main--desc Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit interdum. Diam tellus lobortis duis tincidunt. Morbi.
                        .services-main--price от 19 900 ₽
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.main-services--item--wrap
                    .main-services--item
                        +icon('home')
                        .main-services--title Вид на жительство в РФ
                        p.services-main--desc Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit interdum. Diam tellus lobortis duis tincidunt. Morbi.
                        .services-main--price от 24 900 ₽
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.main-services--item--wrap
                    .main-services--item
                        +icon('passport')
                        .main-services--title Гражданство России   
                        p.services-main--desc Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit interdum. Diam tellus lobortis duis tincidunt. Morbi.
                        .services-main--price от 29 900 ₽
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.main-services--item--wrap
                    .main-services--item
                        +icon('files')
                        .main-services--title Заполнение заявлений
                        p.services-main--desc Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit interdum. Diam tellus lobortis duis tincidunt. Morbi.
                        .services-main--price от 2 900 ₽
            .services-main--list--slider-dots 
                            
        .section-title.section-title--white Почему люди выбирают нас ?
        .services-people-choise.row
            .col-xl-4.col-lg-6.col-md-6.col-sm-6.services-people-choise--wrap
                .services-people-choise--item
                    .services-people--left
                        +icon('partfel')
                    .services-people--right
                        .services-people--title Профессионализм
                        .services-people--desc Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit.
            .col-xl-4.col-lg-6.col-md-6.col-sm-6.services-people-choise--wrap
                .services-people-choise--item
                    .services-people--left
                        +icon('support')
                    .services-people--right
                        .services-people--title На связи 24/7
                        .services-people--desc Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit.
            .col-xl-4.col-lg-6.col-md-6.col-sm-6.services-people-choise--wrap
                .services-people-choise--item
                    .services-people--left
                        +icon('money')
                    .services-people--right
                        .services-people--title Удобная оплата
                        .services-people--desc Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit.
            .col-xl-4.col-lg-6.col-md-6.col-sm-6.services-people-choise--wrap
                .services-people-choise--item
                    .services-people--left
                        +icon('business2')
                    .services-people--right
                        .services-people--title Отстрочка платежей
                        .services-people--desc Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit.
            .col-xl-4.col-lg-6.col-md-6.col-sm-6.services-people-choise--wrap
                .services-people-choise--item
                    .services-people--left
                        +icon('translation')
                    .services-people--right
                        .services-people--title Услуги переводчика
                        .services-people--desc Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit.
            .col-xl-4.col-lg-6.col-md-6.col-sm-6.services-people-choise--wrap
                .services-people-choise--item
                    .services-people--left
                        +icon('pack')
                    .services-people--right
                        .services-people--title Доставка докуменотов
                        .services-people--desc Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit.
    .bg-img2(style="background-image:url('./static/img/general/bg2.jpg')")