section.section4.padding-deafault-50
    .container
        .section-title Спецпредложения
        .special-block--wrap
            .col-xl-10.col-lg-10.col-md-10.col-sm-12.special-left--block.row
                .col-xl-6.col-lg-12.col-md-12.col-sm-12.special-left--block__wrap
                    .special-left--block__item
                        .special-left--img(style="background-image:url('./static/img/content/slider/im1.jpg')")
                        .special-left--block__content
                            .special-left--block__top
                                .special-left--block__title РВП
                                .special-left--block__price 28 500 ₽
                            p.special-left--block__bottom Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit interdum. Diam tellus lobortis duis tincidunt. Morbi.
                .col-xl-6.col-lg-12.col-md-12.col-sm-12.special-left--block__wrap
                    .special-left--block__item
                        .special-left--img(style="background-image:url('./static/img/content/slider/im1.jpg')")
                        .special-left--block__content
                            .special-left--block__top
                                .special-left--block__title ВНЖ
                                .special-left--block__price 28 500 ₽
                            p.special-left--block__bottom Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit interdum. Diam tellus lobortis duis tincidunt. Morbi.
                .col-xl-6.col-lg-12.col-md-12.col-sm-12.special-left--block__wrap
                    .special-left--block__item
                        .special-left--img(style="background-image:url('./static/img/content/slider/im1.jpg')")
                        .special-left--block__content
                            .special-left--block__top
                                .special-left--block__title Гражданство
                                .special-left--block__price 28 500 ₽
                            p.special-left--block__bottom Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit interdum. Diam tellus lobortis duis tincidunt. Morbi.
                .col-xl-6.col-lg-12.col-md-12.col-sm-12.special-left--block__wrap
                    .special-left--block__item
                        .special-left--img(style="background-image:url('./static/img/content/slider/im1.jpg')")
                        .special-left--block__content
                            .special-left--block__top
                                .special-left--block__title Медицина
                                .special-left--block__price 28 500 ₽
                            p.special-left--block__bottom Diam ac placerat commodo sed. Cursus et lobortis aliquet ut sit interdum. Diam tellus lobortis duis tincidunt. Morbi.


            .special-right--block
                .special-right--text
                    .special-right--text__item Еще
                    .special-right--text__item 11
                    .special-right--text__item предложений
                a.special-right--text__link(href="/") Смотреть все