section.section5.padding-deafault-50.pt-0
    .container
        .services-main--block
            .have-question--wrap
                .have-question--left
                    .section-title Остались вопросы?
                    p.have-question--text Faucibus viverra congue massa scelerisque. Nascetur lacus mi egestas arcu gravida pharetra id vel vitae. Porttitor cursus tellus molestie etiam eu.
                    p.have-question--text Nulla sed nam nec scelerisque neque, magna eget. Gravida vulputate odio odio lorem. Nibh arcu.
                    .have-question--left__phone
                        +icon('phone')
                        a.have-question--left__link(href="tel:89991234567") 8 (999) 123 45 67
                    .have-question--left__phone
                        +icon('email')
                        a.have-question--left__link(href="mailto:info@name.com") info@name.com
                .have-question--right
                    .form-title Свяжитесь с нами
                        span
                    form
                        .form--wrap
                            .input-form--wrap
                                input.input-ur-forms.w-48(type="text" placeholder="Имя")
                                input.input-ur-forms.w-48(type="text" placeholder="Фамилия")
                            textarea.textarea-forms.mb-4(cols="5" rows="4" placeholder="Комментарий...")
                            button.main-button-color.mw-200.m-0-auto(type="submit") Отправить
                                +arrow('arrow-button')


        .section-title--wrap
            .section-title.section-title--white.mb-0 Отзывы наших клиентов
            .review-tabs-buttons
                .review-tab-button-text.tabs-buttons.active(data-tab="review-text-selector") Отзывы
                .review-tab-button-video.tabs-buttons(data-tab="review-video-selector") Видео-отзывы
        .reveiw-tabs-list
            .reveiw-tab-text.tabs-content.review-text-selector.active
                .reveiw-tab-text--wrap
                    .reveiw-tab-text--item
                        .review-tab-text__img(style="background-image:url('./static/img/general/img1.jpg')")
                        .reveiw-tab-text__content
                            +icon('dd')
                            .reveiw-tab-text__title ЗАО “ДЕЗ – Сервис”
                            .reveiw-tab-text__desc Медицинский сервис ЗАО «ДЭЗ-Сервис» выражает благодарность юристам ООО «Право и Статус» и лично генеральному директору Оксане Владимировне Сердечной.
                    .reveiw-tab-text--item
                        .review-tab-text__img(style="background-image:url('./static/img/general/img2.jpg')")
                        .reveiw-tab-text__content
                            +icon('dd')
                            .reveiw-tab-text__title ООО “ГСКБВ”
                            .reveiw-tab-text__desc Готовы рекомендовать Вашу компанию как надежного поставщика юридических услуг и ответственного партнера.
            .reveiw-tab-video.review-video-selector.tabs-content
                .index-video-slider--wrapper--mobile
                    .index-video-slider-mobile
                        a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                            .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img2.png')")
                            .icon-preload
                                +icon('played')
                        a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                            .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img.png')")
                            .icon-preload
                                +icon('played')
                        a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                            .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img2.png')")
                            .icon-preload
                                +icon('played')
                        a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                            .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img.png')")
                            .icon-preload
                                +icon('played')
                        a.index-video-slider-item-mobile(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                            .index-video-slider-source-mobile(style="background-image: url('static/img/general/slider-img2.png')")
                            .icon-preload
                                +icon('played')


                .index-video-slider--wrapper
                    .index-video-slider
                        a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                            .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img2.png')")
                            .icon-preload
                                +icon('played')
                        a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                            .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img.png')")
                            .icon-preload
                                +icon('played')
                        a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                            .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img2.png')")
                            .icon-preload
                                +icon('played')
                        a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                            .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img.png')")
                            .icon-preload
                                +icon('played')
                        a.index-video-slider-item(data-fancybox href="static/img/general/videoSlider/migdex.mp4")
                            .index-video-slider-source.index-video-ID(style="background-image: url('static/img/general/slider-img2.png')")
                            .icon-preload
                                +icon('played')
                    .index-video-slider-arrow
                        .index-video-slider--prev
                            +icon('left-arrow')
                        .index-video-slider--next
                            +icon('right-arrow')
        a.main-button-transparent.mw-200.m-0-auto(href="/") Все отзывы
            +arrow('arrow-button')
    .bg-img2(style="background-image:url('./static/img/general/bg2.jpg')")