section.section7.padding-deafault-50.pt-0
    .container.media-ml-15
        .section-title.mb-50 Faq
        .faq-main-block
            .faq-left
                +art('faq')
                p Dolor nullam ipsum venenatis feugiat semper etiam venenatis faucibus. Ullamcorper ultricies egestas varius ut nulla tortor. Lobortis nec...
            .faq-right
                .faq-question-list
                    .faq-question-item--wrap
                        .faq-question-item
                            .faq-question-num-title
                                .faq-question-number 1)
                                .faq-question-title In convallis tellus faucibus nunc. Pulvinar ultricies?
                            .faq-question-show
                                +icon('arrow-down')
                        .faq-question-item--text In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?
                    .faq-question-item--wrap
                        .faq-question-item
                            .faq-question-num-title
                                .faq-question-number 2)
                                .faq-question-title In convallis tellus faucibus nunc. Pulvinar ultricies?
                            .faq-question-show
                                +icon('arrow-down')
                        .faq-question-item--text In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?
                    .faq-question-item--wrap
                        .faq-question-item
                            .faq-question-num-title
                                .faq-question-number 3)
                                .faq-question-title In convallis tellus faucibus nunc. Pulvinar ultricies?
                            .faq-question-show
                                +icon('arrow-down')
                        .faq-question-item--text In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?
                    .faq-question-item--wrap
                        .faq-question-item
                            .faq-question-num-title
                                .faq-question-number 4)
                                .faq-question-title In convallis tellus faucibus nunc. Pulvinar ultricies?
                            .faq-question-show
                                +icon('arrow-down')
                        .faq-question-item--text In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?
                    .faq-question-item--wrap
                        .faq-question-item
                            .faq-question-num-title
                                .faq-question-number 5)
                                .faq-question-title In convallis tellus faucibus nunc. Pulvinar ultricies?
                            .faq-question-show
                                +icon('arrow-down')
                        .faq-question-item--text In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?
                    .faq-question-item--wrap
                        .faq-question-item
                            .faq-question-num-title
                                .faq-question-number 6)
                                .faq-question-title In convallis tellus faucibus nunc. Pulvinar ultricies?
                            .faq-question-show
                                +icon('arrow-down')
                        .faq-question-item--text In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?In convallis tellus faucibus nunc. Pulvinar ultricies?