section.section2.padding-deafault-50.pt-0
    .container
        .complex-main--block
            .section-title Комплексные экзамены
            .services-main--list.row
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.main-services--item--wrap
                    .main-services--item
                        .complex-services--item
                            +icon('passport')
                            .main-services--title Гражданство РФ
                            p.services-main--desc Комплексное тестирование для получения гражданства РФ
                            .complex-time--wrap
                                .complex-time--icon
                                    +icon('sandclock')
                                .complex-time--count 40 минут
                        .main-button-color.mw-200.m-0-auto Пройти
                            +arrow('arrow-button')
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.main-services--item--wrap
                    .main-services--item
                        .complex-services--item
                            +icon('home')
                            .main-services--title Вид на жительство (ВНЖ)
                            p.services-main--desc Комплексное тестирование для получения разрешения на работу
                            .complex-time--wrap
                                .complex-time--icon
                                    +icon('sandclock')
                                .complex-time--count 40 минут
                        .main-button-color.mw-200.m-0-auto Пройти
                            +arrow('arrow-button')
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.main-services--item--wrap
                    .main-services--item
                        .complex-services--item
                            +icon('time')
                            .main-services--title Временное проживание (РВП)
                            p.services-main--desc Комплексное тестирование для получения разрешения на работу
                            .complex-time--wrap
                                .complex-time--icon
                                    +icon('sandclock')
                                .complex-time--count 40 минут
                        .main-button-color.mw-200.m-0-auto Пройти
                            +arrow('arrow-button')
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.main-services--item--wrap
                    .main-services--item
                        .complex-services--item
                            +icon('man-ur')
                            .main-services--title Разрешение на работу (ИР)
                            p.services-main--desc Комплексное тестирование для получения разрешения на работу
                            .complex-time--wrap
                                .complex-time--icon
                                    +icon('sandclock')
                                .complex-time--count 40 минут
                        .main-button-color.mw-200.m-0-auto Пройти
                            +arrow('arrow-button')