section.section2.padding-deafault-50
	.container
		.test-page--wrap
			.test-page--top
				.test-page--left
					.test-page--left__title Грамматика
					.test-page--left__timer 08:37
				.test-page--right 3 /
					span 20
			.test-page--content
				.test-page--content__title Вопрос №3
				ul.test-page--content__question
					li
						.test-page--content__question-q.tpcq-f —  Где вы работаете?
						.test-page--content__question-o.tpcq-f —  Я  …  документы в паспортном столе
				.test-page--buttons
					.test-page--button
						label
							input.test-page--input(type="radio" name="test_exam")
							.test-page--check
								.test-page--dot
								.test-page--button__title оформлять
					.test-page--button
						label
							input.test-page--input(type="radio" name="test_exam")
							.test-page--check
								.test-page--dot
								.test-page--button__title оформляют
					.test-page--button
						label
							input.test-page--input(type="radio" name="test_exam")
							.test-page--check
								.test-page--dot
								.test-page--button__title оформляю
				button.main-button-color.mw-200.m-0-auto(data-toggle="modal" data-target="#popup-test-granted") Далее
					+arrow('arrow-button')


